// @use "~bootstrap-vue/src/_variables.scss";
// @use "../node_modules/bootstrap-vue/src/_variables.scss";
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@import "~bootstrap/scss/bootstrap.scss";
// @import "~bootstrap-vue/src/index.scss";
// @import "~bootstrap-vue/src/_variables.scss";
// @import "../node_modules/bootstrap/scss/bootstrap.scss";
// @import "../node_modules/bootstrap-vue/src/_variables.scss";

// For reference
// Min-width

// @include media-breakpoint-up(sm) { ... }
// @include media-breakpoint-up(md) { ... }
// @include media-breakpoint-up(lg) { ... }
// @include media-breakpoint-up(xl) { ... }
// @include media-breakpoint-up(xxl) { ... }

// Max-width

// @include media-breakpoint-down(sm) { ... }
// @include media-breakpoint-down(md) { ... }
// @include media-breakpoint-down(lg) { ... }
// @include media-breakpoint-down(xl) { ... }
// @include media-breakpoint-down(xxl) { ... }
