%margin_1140 {
  width: 1140px;
  margin: auto;
  @media (max-width: 1139px) {
    width: auto;
    padding: 16px;
  }
}
.edit_account {
  background-color: #f3f3f3;
  font-size: 0.9rem;
  .account_details_margin {
    @extend %margin_1140;
  }
  .account_details_form,
  .change_password_form,
  .update_plan_form {
    display: flex;
    flex-direction: column;
    padding: 2em 0 0;
    @include media-breakpoint-down(lg) {
      width: 50%;
      padding: 2em 0 2em;
    }
    @include media-breakpoint-down(md) {
      width: 100%;
    }
    input {
      border: 1px solid #dad2d2;
      border-radius: 3px;
      margin-bottom: 0.5em;
      padding: 0.5em;
    }
    label {
      margin-bottom: 0.5em;
    }
  }
  .account_details_btn {
    margin-top: 1em;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    @include media-breakpoint-down(md) {
      margin: 1em auto 0;
    }
    button {
      width: 130px;

      padding: 0.5em;
      border-radius: 4px;
      box-sizing: border-box;
      &:first-child {
        background-color: unset;
        margin-right: 1em;
        color: #ff6868;
        border: 1px solid #ff6868;
        &:hover {
          background-color: #ff6868;
          color: #fff;
        }
      }
      &:last-child {
        background-color: var(--blue);
        color: #fff;
        border: unset;
        &:hover {
          color: #000;
        }
      }
    }
  }
  h2 {
    @extend %margin_1140;
    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }
  .bot_border {
    text-align: left;
    @include media-breakpoint-down(md) {
      padding: 0;
    }
  }
}

.dashboard,
.account,
.result,
.edit_account {
  min-height: calc(100vh - 193px);
  @include media-breakpoint-down(lg) {
    min-height: unset;
  }
}
