@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap");
@import url("./variables.scss");
body {
  font-family: "Source Sans Pro" !important;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: "Crimson Pro", serif !important;
  font-weight: bold !important;
}
.selector-for-some-widget {
  box-sizing: content-box;
}
.base_margin {
  padding: 10em 0 12em;
  max-width: 1140px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  &:link {
    text-decoration: none;
  }
}
.bot_border {
  padding: 30px 0;
  text-align: center;
  border-bottom: 1px solid var(--gray);
}
.colored_btn {
  display: flex !important;
  max-width: 130px;
  height: 46px;
  padding: 1em;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  &:hover {
    opacity: 0.7;
    color: inherit;
  }
}
.btn_red {
  background-color: #be1d2d;
}
.btn_orange {
  background-color: var(--orange);
}
.btn_gray {
  color: var(--gray);
  border: 1px solid var(--gray);
}
.btn_green {
  width: 175px;
  background-color: var(--green);
}
.btn_blue {
  background-color: var(--blue);
}
.btn_brdr_blue {
  background-color: #fff;
  color: var(--blue);
  border: 1px solid var(--blue);
}
.color_white {
  color: var(--white);
}
.color_gray {
  color: var(--gray);
}
.color_blue {
  color: var(--blue);
}
.p0 {
  padding: 0 !important;
}
.mt3 {
  margin-top: 3em;
}
.mt6 {
  margin-top: 6em;
}
.mb1 {
  margin-bottom: 1em;
}
.mb2 {
  margin-bottom: 2em;
}
.mb3 {
  margin-bottom: 3em;
}
.mb4 {
  margin-bottom: 4em;
}
.mb5 {
  margin-bottom: 5em;
}
.mb6 {
  margin-bottom: 6em;
}
ol,
ul {
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}
.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.close {
  background: url(../assets/close.svg) no-repeat center top;
  background-size: contain;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 2em;
  top: 2em;
  @include media-breakpoint-down(lg) {
    width: 15px;
    height: 15px;
    background-size: 100%;
  }
}
input:focus-visible {
  outline-width: 0;
}
._pc {
  display: block;

  @include media-breakpoint-down(lg) {
    display: none;
  }
}
._sp {
  display: none;
  @include media-breakpoint-down(lg) {
    display: block;
  }
}
.floating_nav {
  @include media-breakpoint-down(lg) {
    position: absolute;
    width: 100%;
    top: 4em;
    right: 0;
    background: #fff;
    box-shadow: 0px 3px 6px #00000029;
  }
}
body {
  @include media-breakpoint-down(lg) {
    .sign {
      overflow: unset;
      .sign_img {
        display: none;
      }
      .sign_form {
        width: 100% !important;
        float: unset !important;
        .sign_details {
          width: 75%;
          // height: auto;
          padding: 5em 0;
          box-sizing: border-box;
          @include media-breakpoint-height(sm) {
            height: auto;
          }
          .sign_bottom {
            position: unset;
            overflow: unset;
            text-align: center;
          }
        }
      }
    }
  }
}

.def {
  background: url("./../assets/home_upperbg.png") no-repeat top center;
  background-size: 100%;
  width: 100%;
  height: 100%;
  .base_margin {
    flex-direction: column;
    align-items: center;
    padding: 10em 0 6em;
    min-height: calc(100vh - 193px);
    @include media-breakpoint-down(lg) {
      padding: 3em 1em;
      min-height: unset;
    }
  }
}

.white-space-no {
  white-space: nowrap;
}
.break-spaces {
  white-space: break-spaces;
}
.dropdown-menu-right {
  right: 0;
  left: auto;
}
