@mixin media-breakpoint-up($point) {
  $sm: "(min-width: 576px)";
  $md: "(min-width: 768px)";
  $lg: "(min-width: 992px)";
  // $lg: "(min-width: 1024px)";
  $xl: "(min-width: 1200px)";

  @if $point == sm {
    @media #{$sm} {
      @content;
    }
  } @else if $point == md {
    @media #{$md} {
      @content;
    }
  } @else if $point == lg {
    @media #{$lg} {
      @content;
    }
  } @else if $point == xl {
    @media #{$xl} {
      @content;
    }
  }
}
@mixin media-breakpoint-down($point) {
  $sm: "(max-width: 575.98px)";
  $md: "(max-width: 767.98px)";
  $lg: "(max-width: 991.98px)";
  // $lg: "(max-width: 1023.98px)";
  $xl: "(max-width: 1199.98px)";

  @if $point == sm {
    @media #{$sm} {
      @content;
    }
  } @else if $point == md {
    @media #{$md} {
      @content;
    }
  } @else if $point == lg {
    @media #{$lg} {
      @content;
    }
  } @else if $point == xl {
    @media #{$xl} {
      @content;
    }
  }
}

@mixin media-breakpoint-height($point) {
  $sm: "(max-height: 575.98px)";
  $md: "(max-height: 767.98px)";
  $lg: "(max-height: 991.98px)";
  // $lg: "(max-height: 1023.98px)";
  $xl: "(max-height: 1199.98px)";

  @if $point == sm {
    @media #{$sm} {
      @content;
    }
  } @else if $point == md {
    @media #{$md} {
      @content;
    }
  } @else if $point == lg {
    @media #{$lg} {
      @content;
    }
  } @else if $point == xl {
    @media #{$xl} {
      @content;
    }
  }
}
