<template>
    <div>
        <div class="cards">
            <a
                :class="['item onebyone', { active: isSelected(item) }]"
                v-for="(item, index) in cards"
                :key="'item' + index"
                @click="handleRemove(item)"
                :style="{
                    width: getCardSize.width + 'px',
                    height: getCardSize.height + 'px'
                }"
            >
                <div class="checked"></div>
                <img :src="require(`@/assets/cards/${item.id}.png`)" />
            </a>
        </div>

        <div class="size-adjustment">
            <a class="btn" @click="increaseSize()">+</a>
            <span class="percent">{{ size }}%</span>
            <a class="btn" @click="decreaseSize()">-</a>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        cards: {
            type: Array,
            default: [],
        },
        selected: {
            type: Array,
            default: [],
        },
    },
    data(){
        return {
            size: 100,
            sizeArray: {
                "100": {
                width: 100,
                height: 130
                },
                "80": {
                width: 90,
                height: 120
                },
                "60": {
                width: 80,
                height: 110
                },
                "40": {
                width: 70,
                height: 100
                }
            },
        }
    },
    computed: {
        getCardSize() {
            return this.sizeArray[this.size];
        }
    },
    methods: {
        handleRemove(item){
            this.$emit('removeItem', item);
        },
        isSelected(val) {
            return this.selected.find(item => item.id === val.id);
        },
        decreaseSize() {
            if (this.size <= 40) return false;
            this.size = this.size - 20;
        },
        increaseSize() {
            if (this.size >= 100) return false;
            this.size = this.size + 20;
        },
    }
}
</script>

<style lang="scss" scope>
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;

    .item {
        position: relative;
        width: 100px;
        height: 130px;
        margin: 5px 5px 5px 5px;
        box-shadow: 0px 3px 6px #00000047;
        border-radius: 3px;
        transition: width 2s, height 2s;
        // opacity: 0.8;
        // @include media-breakpoint-down() {
        // }
        img {
        width: 100%;
        height: 100%;
        filter: grayscale(100%);

        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        transform-origin:  top left;
        }

        .checked {
        display: none;
        }

        &.onebyone:hover {
        img {
            transform: scale(2.1);
            z-index: 9;
            position: relative;
            filter: grayscale(0%);
        }
        &.active {
            img {
            outline: 3px solid var(--blue);

            }
        }
        }

        &.active {
        opacity: 1;
        outline: 3px solid var(--blue);
        img {
            filter: grayscale(0%);
        }
        }

        &.active {
        opacity: 1;
        .checked {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 20px;
            height: 20px;
            background-color: var(--blue);
            &:after {
            content: "";
            width: 13px;
            height: 8px;
            border: 2px solid #fff;
            border-top: none;
            border-right: none;
            position: absolute;
            left: 5px;
            top: 2px;
            transform: rotate(-46deg);
            }
        }
        }
    }
}



  .size-adjustment {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: auto;
    width: 132px;
    height: 40px;
    background-color: #fff;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 3px;
    @include media-breakpoint-down(lg) {
      left: unset;
      right: 20px;
    }
    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      font-size: 24px;
      text-align: center;
      color: #161616;
      font-weight: bold;
    }
    .percent {
      display: block;
      width: 100%;
      font-size: 18px;
      text-align: center;
      color: #161616;
      font-weight: bold;
    }
  }
</style>