<template>
  <div id="about_us">
    <div class="bot_border">
      <h2>{{ $t("About Us") }}</h2>
    </div>
    <div class="bgabout base_margin">
      <h3 class="text-center mb1">
        {{ $t("The beginning of the Find Life Interest Exploration Cards") }}
      </h3>
      <div class="container">
        <!-- <div
          class=" mb3"
          :class="[$mq === 'mobile' ? 'col mt2' : 'row mt6']"
          v-for="about in aboutUs"
          :key="about.about_title"
        >
          <div class="col">
            <h3 class="color_gray">{{ about.about_title }}</h3>
          </div>
          <div class="col">
            <p>
              {{ about.about_content }}
            </p>
          </div>
        </div> -->
        <p class="mb2">
          Siang Ying, a counseling psychologist who accompanies job-seekers to
          look for their next destinations. Shang Neng, a counseling
          psychologist and a school counselor who stands by teenagers and young
          adults to explore their career developments. In 2015, upon an
          ordinarily held casual meeting among friends, we talked about daily
          experiences of our works. We accidentally found with pleasure that we
          share so many resonances on our works. We also realized that there are
          so many people in need of courage and directions on their career
          paths. Meanwhile, we were aware that those career/occupational
          assessments we adopted are just far away from our clients` daily life
          experiences Despite we’ve got a variety of tools for career
          explorations, few of these materials were truly relevant to our daily
          lives. We worked with some disadvantaged teenagers who have been
          excluded from mainstream groups. Some gifted students whose academic
          performances are extraordinarily excellent, but accordingly be highly
          anxious and literally lost themselves. Some adults who still can’t
          find their motivations and directions after several years of
          employments. Some middle-and-senior adults who have been busy and
          under high pressures, and also been more and more afraid of getting
          discarded by job market. And also some senior adults who are starting
          their retirement and surprisingly found that literally they have never
          lived as who they are. No matter which life span phase they are in,
          career always give us the stage to develop our meaning of lives. If we
          can guide our clients To Explore their interests and personal styles
          from daily lives. To see their own characteristics and talents. We
          believe that everyone can find their extraordinary daily sceneries And
          live with self-value.
        </p>
        <p class="mb2">
          Finally, two counseling psychologists with more than 10 years of
          professional experiences. Referring to lifestyle assessment of
          Adlerian Psychology and Career Construction Theory And also a 4-year
          study with thousands of cases on grounded theory In 2018, we sincerely
          present you
        </p>
        <h2 class="text-center mb2">Find Life Interests Exploration Cards</h2>
        <h2 class="text-center mb2">Founders</h2>
        <div class="row text-center founders">
          <div class="col" v-for="founder in founders" :key="founder.id">
            <div class="card">
              <img
                :src="founder.thumb"
                class="card-img-top"
                alt="#####"
                @click="handleOpenCard(founder)"
                width="200px"
                height="200px"
              />
              <div class="card-body">
                <p class="card-text">
                  {{ founder.name }}
                </p>
                <p class="card-text">
                  {{ founder.role }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Modal :showModal="showModal" @close="handleCancelModal" :founder="true">
      <Founder :founder="found" />
    </Modal>
  </div>
</template>

<script>
import Modal from "@/components/play-modal";
import Founder from "@/components/about-us-founder";
// Views page for about us page
// @group Views
export default {
  components: {
    Modal,
    Founder
  },
  data() {
    return {
      // aboutUs: [
      //   {
      //     about_title: "Who are we?",
      //     about_content:
      //       "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud"
      //   },
      //   {
      //     about_title: "Why do we need the move?",
      //     about_content:
      //       "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud"
      //   },
      //   {
      //     about_title: "Our true values",
      //     about_content:
      //       "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud"
      //   }
      // ],
      showModal: false,
      found: "",
      founders: [
        {
          id: "1",
          img: require("../../src/assets/founder1.jpg"),
          thumb: require("../../src/assets/founder1_thumb.jpg"),
          name: "Siang Ying Lee",
          role: "Co-founder",
          education:
            "Master, Psychology (section Counseling and clinical ), National Chengchi University",
          current_position: `Counseling psychology(since 2007)
          Dream light workshop founder
          Supervisor of psychological counseling practice`,
          certificate_1: `Registered Counseling Psychologist, 2007 National Professional and Technical Higher Examination, Ministry of Examination, Taiwan`,
          publication_1: `● Lee, S. Y , Lin, S. N. (2020). More Than Your Life Interests. Night Dreams and Day Light Studio, Hsinchu, Taiwan.
● Lee, S. Y, Lin, S. N. (2018). Find Life Interests Exploration Cards. Night Dreams and Day Light Studio, Hsinchu, Taiwan.
● Lee, S. Y. (2018). Dream, The Therapeutic Guide In Deep Sleep. PsyGarden, Taipei, Taiwan.
● Lee, S. Y. (2020). Introspective Lights: Dream Guidance Cards. Night Dreams and Day Light Studio, Hsinchu, Taiwan.`,
publication_2:`● Lee, S. Y. (2018). Symbolic Reflections: Dream Exploration Cards. Night Dreams and Day Light Studio, Hsinchu, Taiwan.
● Lee, S. Y. (2013). Reveal The Secrets of Dreams. Night Dreams and Day Light Studio, Hsinchu, Taiwan.`,
          work: `● Contract lecture, occupational consultation company
● Lecture/occupational consultant/ supervisor, several counties’ employment centers
● Work as an counseling psychologist/lecturer in schools, social welfare institutions, enterprises, and counseling institutions (with thousands of lecture events )
● Counseling psychologist, community mental health center
● Director general, Taoyuan County Counseling Psychology Association
● Adjunct lecturer, Department of Educational Psychology and Counseling, National Tsing Hua University
● Lecturer, Office of Continuing Education, Chung Yuan Christian University
● Full-time & adjunct counseling psychologist, Chung Yuan Christian University`
        },
        {
          id: "2",
          img: require("../../src/assets/founder1.jpg"),
          thumb: require("../../src/assets/founder1_thumb.jpg"),
          name: "Lin Shang Neng",
          role: "Co-founder",
          education:
            "Master, Psychology and Counseling, National Taipei University of Education Doctoral program, Education (Educational Psychology and Guidance), National Chengchi University",
          current_position: `Counseling psychologist, Light Heart Counseling Center, Taipei, Taiwan Secretary General, Taiwan Counseling Psychologist Union, Taiwan Vice President, Taiwan Society of Adlerian Psychology (affiliate of NASAP) Executive Director, Taipei Counseling Psychologist Association, Taiwan Director, Taiwan Guidance and Counseling Association, Taiwan`,
          certificate_1: `● Registered Counseling Psychologist, 2010 National Professional and Technical Higher Examination, Ministry of Examination, Taiwan
● Licensed Guidance and Counseling, Career Planning Teacher of Middle High Education, Ministry of Education, Taiwan
● Licensed Parent and Teacher Consultant/ Lecturer/ Supervisor, Career Coach, Marriage and Couple Consultant, North America Society of Adlerian Psychology (U.S. ) and Taiwan Society of Adlerian Psychology (Taiwan)`,
          certificate_2: `● Registered Career Development Advisor and Instructor, National Career Development Association, U.S.
● Registered Supervisor of School Guidance and Counseling Psychology, Taiwan Guidance and Counseling Association`,
          publication_2: `● Lee, S. Y , Lin, S. N. (2020). More Than Your Life Interests. Night Dreams and Day Light Studio, Hsinchu, Taiwan.
● Lee, S. Y, Lin, S. N. (2018). Find Life Interests Exploration Cards. Night Dreams and Day Light Studio, Hsinchu, Taiwan.
● Lee, S. Y. (2018). Dream, The Therapeutic Guide In Deep Sleep. PsyGarden, Taipei, Taiwan.`,
          work: `● Counseling Psychologist（since2010
● Adjunct lecturer, Department of Educational Psychology and Counseling, National Tsing Hua University, Taiwan
● Guidance teacher and guidance section director, Taipei Municipal Chenggong High School, Taiwan (8years)
● Consultant/ lecturer/supervisor, occupational consultation companies, employment service centers, enterprises, and college career development centers
● Lecturer/supervisor in schools, social welfare institutions, and many organization`
        },

        {
          id: "3",
          img: require("../../src/assets/placeholder.png"),
          name: "Charles Lo",
          role: "Role / Position"
        }
      ]
    };
  },

  methods: {
    // @vuese
    handleOpenCard(found) {
      // Fire when user open the modal
      this.found = found;
      this.showModal = true;
      document.getElementsByTagName("body")[0].style.overflowY = "hidden";
    },
    handleCancelModal() {
      // Fire when user close the modal
      this.showModal = false;
      document.getElementsByTagName("body")[0].style.overflowY = "auto";
    }
  }
};
</script>

<style lang="scss" scope>
#about_us {
  .bgabout {
    padding: 2em 0 6em;
    max-width: 1140px;
    margin: 0 auto;
    @include media-breakpoint-down(lg) {
      text-align: center;
      padding: 2em 0;
    }
  }
  .row {
    .col {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .founders {
    .col {
      padding-right: 1em;
      &:last-child {
        padding-right: 0;
      }
      @include media-breakpoint-down(lg) {
        flex: 50%;
        padding: 1em !important;
      }
      @include media-breakpoint-down(sm) {
        flex: 100%;
      }
    }
    .card {
      border: unset;
      margin: auto;
      width: auto !important;
      @include media-breakpoint-down(lg) {
        &-body {
          background: #000000 0% 0% no-repeat padding-box;
          opacity: 0.48;
          position: absolute;
          width: 100%;
          bottom: 0;
          padding: 0.5em;
        }
      }
      > img {
        width: 200px;
        cursor: pointer;
        margin: auto;
      }
    }
  }
}
</style>
