<template>
  <div class="account">
    <Loader :loading="loading" />
    <div class="bottom_border mb2">
      <h2 class="fw-bolder">{{ $t("Account") }}</h2>
    </div>
    <div class="container base_margin mb2">
      <div class="col text-center mb2 _sp">
        <h3 class="color_blue">{{ $t("Account Details") }}</h3>
      </div>
      <div class="row">
        <div class="col-3 _pc">
          <h3 class="color_blue">{{ $t("Account Details") }}</h3>
        </div>
        <div :class="[$mq === 'mobile' ? 'col float-start' : 'col']">
          <ul>
            <li class="color_gray">{{ $t("Name") }}</li>
            <li class="fw-bold">{{ this.account.name }}</li>
            <li class="color_gray">{{ $t("Email Address") }}</li>
            <li class="fw-bold">{{ this.account.email }}</li>
            <li class="color_gray">{{ $t("School / Organization Name") }}</li>
            <li class="fw-bold">{{ this.account.school }}</li>
            <li class="color_gray">{{ $t("Password") }}</li>
            <li class="fw-bold">*********</li>
            <li class="color_gray">{{ $t("Description") }}</li>
            <li class="fw-bold">{{ this.account.description }}</li>
          </ul>
        </div>
        <div
          class="text-end d-flex flex-column justify-content-between align-items-end"
          :class="[$mq === 'mobile' ? 'col float-end' : 'col-3']"
        >
          <p>
            <router-link to="/account-details" class="color_blue">{{
              $t("Update Account details")
            }}</router-link>
          </p>
          <p class="mb4">
            <router-link to="/change-password" class="color_blue">{{
              $t("Change Password")
            }}</router-link>
          </p>
        </div>
      </div>
    </div>
    <div class="bottom_border mb2"></div>
    <div
      class="container base_margin"
      :class="[$mq === 'mobile' ? 'pb-5' : 'pb6']"
    >
      <div class="col text-center mb2 _sp">
        <h3 class="color_blue">{{ $t("Plan Details") }}</h3>
      </div>
      <div class="row">
        <div class="col-3 _pc">
          <h3 class="color_blue">{{ $t("Plan Details") }}</h3>
        </div>
        <div class="col" :class="[$mq === 'mobile' ? 'float-start' : '']">
          <ul>
            <li class="color_gray">{{ $t("Plan") }}</li>
            <li class="fw-bold">{{ $t(planDetails.desc) }}</li>
            <li class="color_gray">{{ $t("Expiration Date") }}</li>
            <li class="fw-bold">{{ planDetails.expiration }}</li>
            <li class="color_gray">{{ $t("Payment") }}</li>
            <li class="fw-bold">
              <img :src="require('@/assets/paypal.png')" width="36" />
            </li>
          </ul>
        </div>
        <div
          class="text-end"
          :class="[$mq === 'mobile' ? 'col float-end' : 'col-3']"
        >
          <!--<p>
            <router-link to="/update-plan" class="color_blue">{{
              $t("Update Plan details")
            }}</router-link>
          </p>-->
        </div>
      </div>
    </div>
    <Alertaccount
      value="You successfully updated your profile."
      :show="alertStatus"
      :propStyle="{
        position: 'fixed',
        top: '92px',
        left: '0',
        right: '0',
        margin: 'auto'
      }"
      @close="handleAlertClose()"
    />
    <!-- <p>{{this.alertOn}}</p> -->
  </div>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
import Loader from "@/components/loader";
import Alertaccount from "@/components/alert_account";
// View page for account details
// @group Views
export default {
  components: {
    Loader,
    Alertaccount
  },
  data() {
    return {
      loading: true,
      alertActive: false,
      account: {
        name: "",
        email: "",
        school: "",
        pass: "",
        description: ""
      },
      planDetails: {
        desc: "",
        expiration: "December 02, 2022"
      }
    };
  },
  computed: {
    ...mapGetters(["user","alertStatus"]),
  },
  // watch:{
  //   ...this.alertActive
  // },
  mounted() {
    this.getUserData();
    this.testAlert();
    console.log(this.alertStatus)
  },
  methods: {
    // @vuese
    ...mapMutations(["setAlertStatus"]),
    getUserData() {
      // Fire upon component onload, load the user account data using http request
      this.loading = true;
      this.$http.get("user/" + this.user.id).then(
        response => {
          console.log(response.body);
          const { fullname, organization, email, description } = response.body;
          this.account.email = email;
          this.account.name = fullname ? fullname : this.user.username;
          this.account.school = organization ? organization : "-";
          this.account.description = description ? description : "";
          this.getPlansSubscriptionDetails();
        },
        error => {
          this.loading = false;
          this.errorMsg = error.body.message;
        }
      );
    },
    getPlansSubscriptionDetails() {
      // Fire after user data loaded, request http to get user plan subscription
      this.$http.get("plans/is_subscribed/" + this.user.id).then(
        response => {
          const plan = response.body.plan[0];
          const data = response.body.data[0];
          console.log(data);
          this.planDetails.desc = `Personal Plan (${plan.length_description})`;
          this.planDetails.expiration = this.convertDate(
            data.end_date.slice(0, 10)
          );
          this.loading = false;
        },
        error => {
          this.loading = false;
        }
      );
    },
    convertDate(val) {
      // Function user to format date
      var parts = val.split("-");
      var mydate = new Date(parts[0], parts[1] - 1, parts[2]);
      const monthNames = [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December"
      ];
      return monthNames[mydate.getMonth()] + " " + parts[1] + " " + parts[0];
    },
    handleAlertClose(){
      // Fire when user click on close alert
      this.setAlertStatus(false);
    },
    showAlert(){
      // Fire when need to show an alert to user
      this.setAlertStatus(true);
    },
    testAlert() {
      if(this.alertStatus) {
        setTimeout(() => {
            this.setAlertStatus(false);
        }, 3000);
      }
    }
  }
};
</script>

<style lang="scss" scope>
.account {
  background-color: #f3f3f3;
  h3 {
    font-family: "Source Sans Pro";
  }
  a {
    text-decoration: underline;
    font-weight: bold;
    &:hover {
      text-decoration: none;
    }
  }
  .bottom_border {
    text-align: center;
    border-bottom: 1px solid var(--gray);
    &:first-child {
      padding: 30px 0;
      @include media-breakpoint-up(lg) {
        padding: 16px 0;
      }
    }
  }
  .container {
    padding: 0;
    @include media-breakpoint-up(lg) {
      width: 950px;
    }
    @include media-breakpoint-down(lg) {
      overflow: hidden;
      .row {
        display: flex;
        margin: 0;
        .float-start,
        .float-end {
          width: 50%;
        }
      }
    }
    li {
      margin-bottom: 0.5em;
    }
  }
  .pb6 {
    padding-bottom: 6em;
  }
}
</style>
