<template>
  <div class="edit_account account_details">
    <Loader :loading="loading" />
    <div class="bot_border">
      <h2>{{ $t("Account Details") }}</h2>
    </div>
    <div class="account_details_margin">
      <form
        action=""
        class="account_details_form"
        :class="[$mq === 'mobile' ? '' : 'col-4']"
      >
        <p v-if="successMsg">{{ successMsg }}</p>
        <p v-if="errorMsg">{{ errorMsg }}</p>

        <label for="account_details_name">{{ $t("Name") }}</label>
        <input
          type="text"
          name="account_details_name"
          class="account_details_name"
          v-model="userData.fname"
        />
        <label for="account_details_email">{{ $t("Email Address") }}</label>
        <input
          type="text"
          name="account_details_email"
          class="account_details_email"
          v-model="userData.email"
          disabled
        />
        <label for="account_details_school">{{
          $t("School / Organization Name")
        }}</label>
        <input
          type="text"
          name="account_details_school"
          class="account_details_school"
          v-model="userData.school"
        />
        <label for="account_details_desc">{{ $t("Description") }}</label>
        <input
          type="text"
          name="account_details_desc"
          class="account_details_desc"
          v-model="userData.description"
        />
        <label for="account_details_desc">{{ $t("Photo") }}</label>
        <input
          type="file"
          name="account_details_file"
          class="account_details_file"
          @change="selectFile"
        />
        <div class="account_details_btn">
          <button type="button" @click="handleCancel()">
            {{ $t("Cancel") }}
          </button>
          <button type="button" @click="handleSave()">
            {{ $t("Save Changes") }}
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import "@/styles/edit-account.scss";
import { mapGetters, mapMutations } from "vuex";
import Loader from "@/components/loader";
// View page for user account details
// @group Views
export default {
  components: {
    Loader
  },
  data() {
    return {
      loading: true,
      userData: {
        id: "",
        email: "",
        apiToken: "",
        fname: "",
        school: "",
        description: "",
        image: "",
      },
      photo: null,
      errorMsg: "",
      successMsg: ""
    };
  },
  mounted() {
    this.getUserData();
    console.log(this.alertStatus);
  },
  computed: {
    ...mapGetters(["user","alertStatus"]),
  },
  methods: {
    // @vuese
    ...mapMutations(["setAlertStatus"]),
    getUserData() {
      // Fire upon onload to get the user account data
      this.loading = true;
      this.$http.get("user/" + this.user.id).then(
        response => {
          const {
            fullname,
            organization,
            api_token,
            email,
            id,
            description
          } = response.body;
          this.userData.id = id;
          this.userData.email = email;
          this.userData.apiToken = api_token;
          this.userData.fname = fullname ? fullname : "";
          this.userData.school = organization ? organization : "";
          this.userData.description = description ? description : "";
          this.loading = false;
        },
        error => {
          this.loading = false;
          this.errorMsg = error.body.message;
        }
      );
    },
    handleSave() {
      // Fire user click the button save
      this.loading = true;

      const payload = new FormData();
      payload.append('id', this.userData.id);
      payload.append('email', this.userData.email);
      payload.append('fullname', this.userData.fname);
      payload.append('organization', this.userData.school);
      payload.append('description', this.userData.description);
      payload.append('image', this.photo);

      let headers = {
        Authorization: this.userData.apiToken
      };
      this.$http.post("user/update_user", payload, { headers }).then(
        response => {
          this.getUserData();
          // this.successMsg = "Successfully updated!";
          this.errorMsg = "";
          this.setAlertStatus(true);
          this.$router.push("/account");
        },
        error => {
          //console.log('error', error);
          const { message, errors } = error.body;
          if (message === "The given data was invalid.") {
            if (errors.fullname) {
              this.errorMsg = errors.fullname[0];
            } else if (errors.organization) {
              this.errorMsg = errors.organization[0];
            } else if (errors.image) {
              this.errorMsg = errors.image[0];
            } else {
              this.errorMsg = errors.description[0];
            }
          } else {
            this.errorMsg = "asdasd";
          }

          this.successMsg = "";
          this.loading = false;
        }
      );
    },
    handleCancel() {
      // Fire when user click the button cancel
      this.$router.push("/account");
    },
    selectFile(event) {
      // `files` is always an array because the file input may be in multiple mode
      this.photo = event.target.files[0];
    }
  }
};
</script>

<style lang="scss" scope></style>
