<template>
  <div class="edit_account change_password">
    <Loader :loading="loading" />
    <div class="bot_border">
      <h2>{{ $t("Change Password") }}</h2>
    </div>
    <div class="account_details_margin">
      <form
        action=""
        class="change_password_form"
        :class="[$mq === 'mobile' ? '' : 'col-4']"
      >
        <p v-if="successMsg">{{ successMsg }}</p>
        <p v-if="errorMsg">{{ errorMsg }}</p>

        <label for="current_password">{{ $t("Current Password") }}</label>
        <input
          type="password"
          name="current_password"
          v-model="userData.current_password"
        />

        <p>
          <a href="#">{{ $t("Forgot Password") }}</a>
        </p>

        <label for="new_password">{{ $t("New Password") }}</label>
        <input
          type="password"
          name="new_password"
          v-model="userData.password"
        />

        <label for="confirm_password">{{ $t("Confirm Password") }}</label>
        <input
          type="password"
          name="confirm_password"
          v-model="userData.password_confirmation"
        />

        <div class="account_details_btn">
          <button type="button" @click="handleCancel()">
            {{ $t("Cancel") }}
          </button>
          <button type="button" @click="handleSave()">
            {{ $t("Save Changes") }}
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import "@/styles/edit-account.scss";
import { mapGetters,mapMutations } from "vuex";
import Loader from "@/components/loader";
// View page for change password
// @group Views
export default {
  components: {
    Loader
  },
  data() {
    return {
      successMsg: "",
      errorMsg: "",
      loading: false,
      userData: {
        current_password: "",
        password: "",
        password_confirmation: "",
        email: ""
      }
    };
  },
  mounted() {
    console.log(this.user);
  },
  computed: {
    ...mapGetters(["user","alertStatus"])
  },
  methods: {
    // @vuese
    ...mapMutations(["setAlertStatus"]),
    handleSave() {
      // Fire when user click the button save, will store and pass data to http request
      this.loading = true;
      const payload = {
        id: this.user.id,
        current_password: this.userData.current_password,
        password: this.userData.password,
        password_confirmation: this.userData.password_confirmation,
        email: this.user.email
      };
      let headers = {
        Authorization: this.user.token
      };
      this.$http.post("user/change_password", payload, { headers }).then(
        response => {
          // this.successMsg = "Successfully updated!";
          this.errorMsg = "";
          this.loading = false;
          this.setAlertStatus(true);
          this.$router.push("/account");
        },
        error => {
          if (error.body.message === "The given data was invalid.") {
            const { password, current_password } = error.body.errors;
            if (password) {
              this.errorMsg = password[0];
            } else if (current_password) {
              this.errorMsg = current_password[0];
            }
          } else {
            this.errorMsg = error.body.message;
          }
          this.successMsg = "";
          this.loading = false;
        }
      );
    },
    handleCancel() {
      // Fire when user click cancle, imediately push router to /account
      this.$router.push("/account");
    }
  }
};
</script>

<style lang="scss" scope></style>
