<template>
  <div id="contact_us">
    <div class="contact_us_bgbot">
      <h2 class="text-center">{{ $t("Contact us") }}</h2>
      <div class="bgcontact base_contact text-center">
        <h3>{{ $t("Get In Touch") }}</h3>
        <form class="contact_form">
          <div class="container">
            <p v-if="successMsg">{{ successMsg }}</p>
            <p v-if="errorMsg">{{ errorMsg }}</p>
            <div
              class="row mb1"
              :class="[$mq === 'mobile' ? 'flex-column' : '']"
            >
              <div class="col mr-1" :class="[$mq === 'mobile' ? 'mb1' : '']">
                <label for="fname">{{ $t("First Name") }}</label>
                <input
                  type="text"
                  id="fname"
                  name="fname"
                  :placeholder="$t('Your ') + $t('First Name')"
                  v-model="contact.fname"
                />
              </div>
              <div class="col ml-1">
                <label for="lname">{{ $t("Last Name") }}</label>
                <input
                  type="text"
                  id="lname"
                  name="lname"
                  :placeholder="$t('Your ') + $t('Last Name')"
                  v-model="contact.lname"
                />
              </div>
            </div>
            <div class="row mb1">
              <div class="col">
                <label for="email">{{ $t("Email Address") }}</label>
                <input
                  type="text"
                  id="email"
                  name="email"
                  :placeholder="$t('Your ') + $t('Email Address')"
                  v-model="contact.email"
                />
              </div>
            </div>
            <div class="row mb1">
              <div class="col">
                <label for="reason">{{ $t("Reason / Problem") }}</label>
                <!-- <input
                  type="text"
                  id="reason"
                  name="reason"
                  placeholder="Business"
                /> -->
                <select name="reason" id="reason" v-model="myreason">
                  <option
                    :value="option.value"
                    v-for="option in options"
                    :key="option.value"
                  >
                    {{ option.text }}
                  </option>
                </select>
              </div>
            </div>
            <div class="row mb2">
              <div class="col">
                <label for="write">{{ $t("Write here") }}</label>
                <!-- <input type="text" /> -->
                <textarea
                  id="write"
                  name="write"
                  :placeholder="$t('What do you think about this game?')"
                  v-model="contact.others"
                ></textarea>
              </div>
            </div>
          </div>
          <button
            type="button"
            class="colored_btn btn_blue"
            :class="[$mq === 'mobile' ? 'm-auto' : '']"
            @click="handleContact()"
          >
            {{ $t("Submit") }}
          </button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
// View page for contact us
// @group Views
export default {
  data() {
    return {
      // selected: "a",
      options: [
        { text: "dummy1", value: "dummy1" },
        { text: "dummy2", value: "dummy2" },
        { text: "dummy3", value: "dummy3" },
        { text: "dummy4", value: "dummy4" }
      ],
      successMsg: "",
      errorMsg: "",
      contact: {
        fname: "",
        lname: "",
        email: "",
        // reason: "",
        others: ""
      },
      myreason: "dummy1"
    };
  },
  computed: {
    reason: {
      get() {
        return this.myreason;
      },
      set(newValue) {
        if (this.reason !== "dummy2") {
          this.myreason = newValue;
        }
      }
    }
  },
  methods: {
    // @vuese
    handleContact() {
      // Fire when user click button in contact form, make a post http request to store data in server
      this.loading = true;
      const payload = {
        fname: this.contact.fname,
        lname: this.contact.lname,
        email: this.contact.email,
        reason: this.reason,
        others: this.contact.others
      };
      // let headers = {
      //   Authorization: this.userData.apiToken
      // };
      this.$http.post("contact-us", payload).then(
        response => {
          this.successMsg = "Successfully updated!";
          this.errorMsg = "";
          this.contact.fname = "";
          this.contact.lname = "";
          this.contact.email = "";
          this.reason = "dummy1";
          this.contact.others = "";
          this.loading = false;
        },
        error => {
          //console.log('error', error);
          const { message, success } = error.body;
          console.log(message, success);
          if (success == false) {
            // if (this.contact.fname == "") {
            //   this.errorMsg = "fname";
            // } else if (this.contact.lname == "") {
            //   this.errorMsg = "lname";
            // } else if (this.contact.email == "") {
            //   this.errorMsg = "email";
            // } else if (this.contact.reason == "") {
            //   this.errorMsg = "reason";
            // } else this.errorMsg = "others";
            this.errorMsg = message;
          } else {
            this.errorMsg = message;
          }

          this.successMsg = "";
          this.loading = false;
        }
      );
    }
  }
};
</script>

<style lang="scss" scope>
#contact_us {
  background: #f9f9f9;
  @include media-breakpoint-down(lg) {
    // background: unset;
  }
  .contact_us_bgbot {
    background: url("./../assets/home_lowerbg.png") no-repeat bottom center;
    background-size: contain;
    padding-bottom: 3em;
  }
  h2 {
    padding: 1em 0;
    @include media-breakpoint-down(lg) {
      // background: #f9f9f9;
    }
  }
  .bgcontact {
    margin: 2em auto 0;
    padding: 2em 0 0;
    @include media-breakpoint-down(lg) {
      border-radius: 8px;
      margin: 0 0.5em;
    }
  }
  .base_contact {
    background: #fff;
    max-width: 1000px;
    border-radius: 8px;
  }
  .contact_form {
    text-align: left;
    padding: 3em;
    @include media-breakpoint-down(lg) {
      padding: 1em;
    }
    label {
      display: block;
      font-weight: 600;
    }
    .col {
      padding: 0;
      &.mr-1 {
        margin-right: 2em;
        @include media-breakpoint-down(lg) {
          margin-right: 0;
        }
      }
      &.ml-1 {
        margin-left: 2em;
        @include media-breakpoint-down(lg) {
          margin-left: 0;
        }
      }
    }
    input,
    select,
    textarea {
      border: unset;
      border-bottom: 2px solid #afafaf;
      width: 100%;
      padding: 1em 0;
      background-color: #fff;
      &:focus-visible {
        outline-width: 0;
      }
    }
    textarea {
      height: 10em;
    }
    button {
      border: none;
      margin: unset;
    }
  }
}
</style>
