<template>
  <div class="dashboard">
    <Loader :loading="loading" />
    <div class="db_bg">
      <router-link to="/account" class="_sp profile">{{
        $t("Update Profile")
      }}</router-link>
      <div class="base_margin">
        <div class="container">
          <div class="userProfile d-flex">
            <div class="userInfo">
              <div class="userPic">
                <img :src="serverPathUrl + '/' + userData.photo" v-if="userData.photo && userData.photo != '-'"/>
                <span v-else>{{ userData.photo }}</span>
              </div>
              <div class="userDetails">
                <h3>{{ userData.fname }}</h3>
                <p class="clr_gray">{{ userData.school }}</p>
                <p>{{ $t("Subscription") }}: {{ userData.plan }} {{ userData.takes_left }} takes left</p>
              </div>
            </div>
            <div class="userPlan text-end">
              <p class="clr_gray">{{ $t("Plan Expiration") }}:</p>
              <p class="clr_green fw-bold">{{ userData.expiration }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="base_margin">
      <div class="container">
        <h3>{{ $t("Hello!") }}</h3>
        <!-- <textarea
          class="color_gray"
          placeholder="Write something you wanna share about yourself..."
        >
        </textarea> -->
        <p class="color_gray">
          {{
            userData.description
              ? userData.description
              : $t("Write something you wanna share about yourself...")
          }}
        </p>
        <div class="latest" v-if="resultCards.length && !loading">
          <h2>{{ $t("Latest Result") }}</h2>
          <ul class="d-flex">
            <li
              v-for="(card, index) in resultCards"
              :key="'char' + index"
              @click="handleOpenCard(card)"
            >
              <div class="percentage">
                <span>{{ card.percentage }}%</span>
              </div>
              <img
                :src="
                  require(`@/assets/results/${card.number}_${card.names}-front.png`)
                "
              />
            </li>
          </ul>
        </div>
        <div class="nofile" v-else-if="!loading">
          <img
            src="../assets/no_file.png"
            width="200"
            height="150"
            alt="File not found"
            class="mb1"
          />
          <p class="color_gray">{{ $t("No Result Found") }}</p>
          <a @click="handleTakeATest()" class="colored_btn btn_blue">{{
            $t("Take a Test")
          }}</a>
        </div>
      </div>
    </div>

    <Modal :showModal="showModal" @close="handleCancelModal" :fullHeight="true">
      <CardDetails :type="modalCardType" />
    </Modal>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
import { SCORES } from "@/utils/cards.ts";
import Loader from "@/components/loader";
import Modal from "@/components/play-modal";
import CardDetails from "@/components/card-details";
import { API_SERVERS } from "@/utils/constant.ts";
// View page for user dashboard
// @group Views
export default {
  data() {
    return {
      loading: true,
      userData: {
        fname: "",
        school: "School Name / Organization Name",
        plan: "",
        expiration: "",
        description: "",
        takes_left: 0,
        photo: "-",
      },
      characteristic: SCORES,
      latest: {},
      resultCards: [],
      modalCardType: 1,
      showModal: false,
      serverPath: API_SERVERS.live,
    };
  },
  components: {
    Loader,
    Modal,
    CardDetails
  },
  computed: {
    ...mapGetters(["user"]),
    serverPathUrl(){
      return this.serverPath.replace('/api', '');
    },
  },
  mounted() {
    this.getUserData();
  },
  methods: {
    // @vuese
    ...mapMutations([
      "resetSelectedAssesmentCards",
      "resetSelectedSummaryCards"
    ]),
    handleTakeATest() {
      // Fire when user click the button take a test
      this.resetSelectedAssesmentCards();
      this.$router.push("/play/card-assessment");
    },
    getLatest() {
      // Function method that gets the user latest game result using http request
      this.loading = true;
      this.$http.get("result_last/" + this.user.id).then(
        response => {
          const { success, data } = response.body;
          if (success) {
            this.latest = data;
            var dump_picked = JSON.parse(JSON.stringify(data.picked));
            var dump_characteristic = JSON.parse(
              JSON.stringify(this.characteristic)
            );
            
            console.log(dump_picked, dump_characteristic);
            this.generateResult(dump_picked, dump_characteristic);
          }

          this.loading = false;
        },
        error => {
          this.loading = false;
          this.errorMsg = error.body.message;
        }
      );
    },
    getUserData() {
      // Fire on mount, request http to get user data to server
      this.loading = true;
      this.$http.get("user/" + this.user.id).then(
        response => {
          const { fullname, organization, description, photo } = response.body;
          this.userData.fname = fullname ? fullname : this.user.username;
          this.userData.school = organization
            ? organization
            : "School Name / Organization Name";
          this.userData.description = description;
          this.userData.photo = photo;
          this.getLatest();
          this.getPlansSubscriptionDetails();
        },
        error => {
          this.loading = false;
          this.errorMsg = error.body.message;
        }
      );
    },
    generateResult(cardss, result) {
      // Function method that rearange and plot the result to dashboard
      let all_answers = [];
      let results = [...result];
      let cards = [...cardss];
      let empty_totals_added = [];

      //convert response type to array
      cards.map(card => {
        card.answers.map(ans => {
          if (isNaN(Number(ans.type))) {
            const types = ans.type.split(",");
            const types_number = types.map(t => {
              return Number(t);
            });
            ans.type = types_number;
          } else {
            ans.type = Number(ans.type);
          }
        });
      });

      // get all numbers
      cards.map(card => {
        card.answers.map(item => {
          if (typeof item.type === "number") {
            all_answers = [...all_answers, item.type];
          } else {
            all_answers = [...all_answers, ...item.type];
          }
        });
      });

      // total all numbers
      all_answers.map(type => {
        if (type !== 0) {
          const item = results.find(data => data.type == type);
          const index = results.indexOf(item);

          if (results[index].total) {
            results[index].total++;
          } else {
            results[index].total = 1;
          }
        }
      });

      // add 0 to all no totals
      results.map(result => {
        if (!result.total) {
          result.total = 0;
        }
      });

      // sort
      const sorted_results = results.sort((a, b) => {
        if (a.total > b.total) return -1;
        return a.total < b.total ? 1 : 0;
      });

      this.getPercentage(sorted_results);
    },
    getPercentage(cards) {
      // Function method that calculate the percentage of card
      let baseTotal = 0;
      cards.map(card => (baseTotal += card.total));

      cards.map(card => {
        card.percentage = Math.round((card.total / baseTotal) * 100);
        card.percentageOrig = (card.total / baseTotal) * 100;
      });

      let percentageTotal = 0;
      cards.map(card => (percentageTotal += card.percentage));

      this.resultCards = [...cards];
    },
    handleOpenCard(card) {
      // Fire when user click the card to open
      this.modalCardType = card.type;
      this.showModal = true;
      document.getElementsByTagName('body')[0].style.overflowY = "hidden";
    },
    handleCancelModal() {
      // Fire when user click the cancle in modal
      this.showModal = false;
      document.getElementsByTagName('body')[0].style.overflowY = "auto";
    },
    getPlansSubscriptionDetails() {
      // Function method that request http to get user plan details
      this.$http.get("plans/is_subscribed/" + this.user.id).then(
        response => {
          const plan = response.body.plan[0];
          const data = response.body.data[0];
          this.userData.plan = `Personal Plan (${plan.length_description})`;
          this.userData.takes_left = data.current_takes;
          this.userData.expiration = this.convertDate(
            data.end_date.slice(0, 10)
          );
        },
        error => {}
      );
    },
    convertDate(val) {
      // Function methi that format dates
      var parts = val.split("-");
      var mydate = new Date(parts[0], parts[1] - 1, parts[2]);
      const monthNames = [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December"
      ];
      return monthNames[mydate.getMonth()] + " " + parts[1] + " " + parts[0];
    }
  }
};
</script>

<style lang="scss" scope>
.dashboard {
  .card-modal {
    background: #fff;
    @include media-breakpoint-down(lg) {
      overflow-y: scroll;
    }
  }
  .container {
    padding: 0;
  }
  .base_margin {
    padding: 2em 0;
    @include media-breakpoint-down(lg) {
      padding: 1em;
    }
  }
  textarea {
    border: unset;
    // border-bottom: 2px solid var(--gray);
    width: 100%;
    text-align: left;
    height: 10em;
    &:focus-visible {
      outline-width: 0;
    }
  }
  .nofile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5em;
    .colored_btn {
      width: 126px;
      height: 28px;
      text-decoration: none;
    }
  }

  .db_bg {
    background-color: #ebf6fa;
    position: relative;
    @include media-breakpoint-down(lg) {
      .profile {
        position: absolute;
        right: 0.5em;
        top: 0.5em;
      }
    }

    .userProfile {
      overflow: hidden;
      @include media-breakpoint-down(lg) {
        flex-direction: column;
      }
      .userInfo {
        float: left;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        .userDetails {
          text-transform: capitalize;
        }
        @include media-breakpoint-down(lg) {
          flex-direction: column;
          float: unset;
          width: auto;
          .userDetails {
            text-align: center;
          }
        }
        .userPic {
          width: 120px;
          height: 120px;
          background-color: #fff;
          border-radius: 10em;
          margin: 0 2em;
          overflow: hidden;
          @include media-breakpoint-down(lg) {
            margin-bottom: 1em;
          }
          img {
            width: 100%;
            height: 100%;
          }
          span {
            display: block;
            padding: 3em;
            text-align: center;
          }
        }
      }
      .userPlan {
        float: right;
        width: 50%;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        @include media-breakpoint-down(lg) {
          flex-direction: column;
          float: unset;
          width: auto;
          align-items: center;
        }
      }
      p {
        margin-bottom: 0.5em;
      }
      .clr_gray {
        color: var(--gray);
      }
      .clr_green {
        color: var(--green);
      }
    }
  }
}
.latest {
  ul {
    justify-content: center;
    flex-wrap: wrap;
    li {
      position: relative;
      width: calc(100% / 7);
      margin: 0 1em 1em 0;
      height: 210px;
      overflow: hidden;
      cursor: pointer;
      @include media-breakpoint-down(lg) {
        width: calc(100% / 4);
        margin: 0;
        padding: 0.5em;
        height: auto;
      }
      @include media-breakpoint-down(md) {
        width: calc(100% / 3);
      }
      &:nth-child(6n) {
        margin-right: 0;
        // @include media-breakpoint-down(lg) {

        // }
      }
      img {
        width: 100%;
        // margin-top: -20%;
        @include media-breakpoint-down(lg) {
          margin-top: unset;
        }
      }
    }
  }

  .percentage {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: auto;
    background: #00aeef 0% 0% no-repeat padding-box;
    border: 2px solid #ffffff;
    border-radius: 100%;
    @include media-breakpoint-down(lg) {
      width: 60px;
      height: 60px;
      left: 0;
      right: 0;
      top: 10%;
      bottom: unset;
    }
    @include media-breakpoint-down(sm) {
      width: 40px;
      height: 40px;
    }
    span {
      color: #ffffff;
      font-size: 13px;
    }
  }
}
</style>
