<template>
  <div class="demo def">
    <div class="d-flex justify-content-center base_margin">
      <h2 class="mb1 text=center">{{ $t("demo") }}</h2>
      <p></p>
      <p></p>
      <p></p>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  }
};
</script>

<style lang="scss" scope></style>
