<template>
  <div class="homepage">
    <div class="home">
      <div class="bghome base_margin">
        <div class="container">
          <div class="row" :class="[$mq === 'mobile' ? 'flex-column' : '']">
            <div class="col p0">
              <h2>{{ $t("Discovering the Gem that You Are") }}</h2>
              <p :class="[$mq === 'mobile' ? 'mb2' : 'mb6']">
                {{
                  $t(
                    "Know and understand the type of student you are based on interests. Guiding you onto the first step to your future – your career path."
                  )
                }}
              </p>
              <ul class="_pc">
                <li>
                  <router-link
                    v-if="!isLogged"
                    to="/register"
                    class="colored_btn btn_blue"
                    >{{ $t("Get Started") }}</router-link
                  >
                  <router-link
                    v-if="isLogged"
                    to="/play/card-assessment"
                    @click="handleTakeATest()"
                    class="colored_btn btn_blue"
                    >{{ $t("Take a Test") }}</router-link
                  >
                </li>
                <li>
                  <router-link
                    to="#howitworks"
                    @click.native="anchorHashCheck"
                    class="colored_btn watch"
                    >{{ $t("Watch the Video") }}</router-link
                  >
                </li>
              </ul>
            </div>
            <div class="col p0">
              <img src="./../assets/home_banner.png" alt="" class="mb2" />
              <ul
                class="_sp"
                :class="[
                  $mq === 'mobile' ? 'd-flex justify-content-between' : ''
                ]"
              >
                <li>
                  <router-link
                    v-if="!isLogged"
                    to="#"
                    class="colored_btn btn_blue"
                    >{{ $t("Get Started") }}</router-link
                  >
                  <router-link
                    v-if="isLogged"
                    to="/play/card-assessment"
                    @click="handleTakeATest()"
                    class="colored_btn btn_blue"
                    >{{ $t("Take a Test") }}</router-link
                  >
                </li>
                <li>
                  <router-link
                    to="#howitworks"
                    @click.native="anchorHashCheck"
                    class="colored_btn watch"
                    >{{ $t("Watch the Video") }}</router-link
                  >
                </li>
              </ul>
              <!-- <img class="_sp" src="./../assets/home_banner.png" alt="" /> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <Aboutus></Aboutus>
    <div class="container-fluid" :class="[$mq === 'mobile' ? '' : 'mb3']">
      <div class="base_margin home_offer">
        <h2>Enterprise: Get Find Life Interest For Just 42 HKD/Year</h2>
        <p>
          Eligible for four (4) takes only and license valid for one year
        </p>
        <p>
          <router-link
            to="/#contact_us"
            @click.native="anchorHashCheck"
            class="color_white text-decoration-underline"
            >Contact Us</router-link
          >
        </p>
      </div>
    </div>
    <Howitworks></Howitworks>
    <Contactus></Contactus>
  </div>
</template>

<script>
import Vue from "vue";
import Aboutus from "./about_us";
import Howitworks from "./how_it_works";
import Contactus from "./contact_us";
import { API_SERVERS } from "@/utils/constant.ts";
import { Helpers } from "@/utils/helpers.ts";
// View page for home page
// @group Views
export default {
  components: {
    Aboutus,
    Howitworks,
    Contactus
  },
  data() {
    return {};
  },
  computed: {
    isLogged() {
      return Helpers.isUserLogged();
    }
  },
  mounted() {
    this.updateServerToDev();
    this.anchorHashCheck();
  },
  methods: {
    // @vuese
    updateServerToDev() {
      // User this function medthod for developer purpose, activating dev server or live server
      if (this.$route.query.dev) {
        Vue.http.options.root = API_SERVERS.local;
        console.log(
          "================YOU ARE USING LOCAL SERVER================",
          Vue.http.options.root
        );
      }
    },
    anchorHashCheck() {
      // Function method use for detecting hash in url
      const h = this.$route.hash;
      Helpers.anchorHashCheck(h);
    },
    handleTakeATest() {
      // Fires when user click on button take a test
      this.resetSelectedAssesmentCards();
      this.$router.push("/play/card-assessment");
    }
  }
};
</script>

<style lang="scss" scope>
.home {
  background-color: var(--mainBg);
  background: url("./../assets/home_upperbg.png") no-repeat top center;
  background-size: 100%;
  width: 100%;
  height: 100%;
  h2 {
    // font-size: 3em;
    // @include media-breakpoint-down(lg) {
    font-size: calc(1.325rem + 0.9vw);
    // }
  }
  .bghome {
    @include media-breakpoint-down(lg) {
      padding: 2em 0;
      .container {
        text-align: center;
        padding: 0 2em;
      }
    }
  }
  .row:first-child {
    .col:first-child {
      display: flex;
      justify-content: center;
      // align-items: center;
      flex-direction: column;
    }
    .col:nth-child(2) {
      padding-left: 5em !important;
      @include media-breakpoint-down(lg) {
        padding-left: 0 !important;
      }
      img {
        width: 100%;
      }
    }
  }

  ul {
    padding: 0;
    margin-left: 3em;
    @include media-breakpoint-down(lg) {
      margin-left: 0;
    }
    li {
      display: inline-block;
      vertical-align: middle;
      .watch {
        color: var(--blue);
        position: relative;
        width: unset;
        max-width: unset;
        text-decoration: underline;
        padding: 0;
        margin-left: 2em;
        &:hover {
          text-decoration: none;
        }
        &:after {
          content: "";
          position: absolute;
          left: -1.5em;
          border: 0;
          background: transparent;
          box-sizing: border-box;
          width: 0;
          height: 18px;
          border-color: transparent transparent transparent var(--blue);
          transition: 100ms all ease;
          cursor: pointer;
          border-style: solid;
          border-width: 11px 0 11px 18px;
        }
      }
    }
  }
}
.homepage {
  .container-fluid {
    background: transparent linear-gradient(270deg, #3cb371 0%, #71a771 100%) 0%
      0% no-repeat padding-box;
    .base_margin.home_offer {
      text-align: center;
      padding: 25px 1em;
      margin: 0 auto;
      color: #fff;
    }
  }
}
</style>
