<template>
  <div id="howitworks">
    <div class="bot_border mb1">
      <h2>{{ $t("How It Works") }}</h2>
    </div>
    <div class="bghow base_margin">
      <div class="video_holder">
        <router-link to="#">
          Video placeholder
        </router-link>
      </div>
      <div class="slider">
        <h2>{{ $t("Step by Step") }}</h2>
        <VueSlickCarousel v-bind="settings" class="how_slide">
          <div
            class="card"
            style="width: 18rem;"
            v-for="step in steps"
            :key="step.number"
          >
            <p>{{ step.number }}</p>
            <div class="card-body">
              <h3 class="card-text">{{ $t(step.title) }}</h3>
              <p class="card-text">{{ $t(step.text) }}</p>
            </div>
          </div>
        </VueSlickCarousel>
      </div>
    </div>
  </div>
</template>

<script>
import VueSlickCarousel from "vue-slick-carousel";

// const VueSlickCarousel = require("vue-slider-carousel"); // eto yung pangsolve daw sa error na to pero error pa din
import "vue-slick-carousel/dist/vue-slick-carousel.css";
// optional style for arrows & dots
// import "vue-slick-carousel/dist/vue-slick-carousel-theme.css";

// View page for how it works
// @group Views
export default {
  name: "MyComponent",
  components: { VueSlickCarousel },
  data() {
    return {
      steps: [
        {
          number: "1",
          title: "Choose cards",
          text:
            "Out of the 54 display cards, choose 8 that you feel most connected to"
        },
        {
          number: "2",
          title: "Select reasons",
          text:
            "Pick all the reasons that relates to your chosen card topic. No limit in choosing!"
        },
        {
          number: "3",
          title: "Evaluation",
          text:
            "From the selected reasons, the system will evaluate all the reasons with corresponding points"
        },
        {
          number: "4",
          title: "Result",
          text:
            "The selected card with the highest point will be reflected as the character type result"
        },
        {
          number: "5",
          title: "Choose cards",
          text:
            "Out of the 54 display cards, choose 8 that you feel most connected to"
        },
        {
          number: "6",
          title: "Select reasons",
          text:
            "Pick all the reasons that relates to your chosen card topic. No limit in choosing!"
        },
        {
          number: "7",
          title: "Evaluation",
          text:
            "From the selected reasons, the system will evaluate all the reasons with corresponding points"
        },
        {
          number: "8",
          title: "Result",
          text:
            "The selected card with the highest point will be reflected as the character type result"
        }
      ],
      settings: {
        arrows: true,
        focusOnSelect: true,
        infinite: false,
        speed: 500,
        slidesToShow: 4,
        slidesToScroll: 1,
        touchThreshold: 5,
        responsive: [
          {
            breakpoint: 992,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 576,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
      }
    };
  }
};
</script>

<style lang="scss" scope>
#howitworks {
  .bghow {
    padding: 0 0 8em;
    max-width: 1140px;
    margin: 0 auto;
    @include media-breakpoint-down(lg) {
      padding: 0 0 4em;
    }
  }
  .video_holder {
    a {
      display: flex;
      // max-width: 800px;
      width: 100%;
      height: 500px;
      margin: auto;
      align-items: center;
      justify-content: center;
      background: #ccc;
    }
  }
  .slider {
    position: relative;
    margin-top: 60px;
    // @include media-breakpoint-down(lg) {
    //   margin: 3em 1em 0 1em;
    // }
    h2 {
      @include media-breakpoint-down(lg) {
        margin: 0 16px;
      }
    }
    .card {
      border: unset;
      padding-right: 1em;
      @include media-breakpoint-down(lg) {
        padding: 1em 1em 0 1em;
      }
      &-body {
        padding: 0;
      }
    }
    .how_slide {
      .slick-next {
        position: absolute;
        top: -30px;
        z-index: 1;
        right: 0;
        visibility: hidden;
        &:after {
          content: "\2192";
          visibility: visible;
          display: flex;
          position: absolute;
          top: 0px;
          right: 0;
          font-size: 5em;
          max-height: 30px;
          height: 100%;
          line-height: 0em;
        }
      }
      .slick-prev {
        position: absolute;
        top: -30px;
        z-index: 1;
        right: 5em;
        visibility: hidden;
        &:after {
          content: "←";
          visibility: visible;
          display: flex;
          position: absolute;
          top: 0px;
          font-size: 5em;
          max-height: 30px;
          height: 100%;
          line-height: 0em;
        }
      }
    }

    .slick-disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
  .container-fluid {
    color: #fff;
    background: #ffaaaa 0% 0% no-repeat padding-box;
    .base_margin.home_offer {
      text-align: center;
      padding: 25px 0;
      margin: 0 auto;
    }
    a {
      background-color: var(--gray);
      color: #fff;
    }
  }
}
</style>
