<template>
<div id="packages">
	<Loader :loading="loading" />
	<div class="bgpackages base_margin text-center">
	<h2>
		{{
		$t("You’re a step closer! Select the plan that works best for you!")
		}}
	</h2>
	<p class="m-auto" :class="[$mq === 'mobile' ? 'w-100 p-3' : 'w-50']">
		{{
		$t(
			"To continue with Find Life Interest, select the plan that works best for you. All license purchase gives you 4 chances to take the digital card game and valid only on the chosen plan."
		)
		}}
	</p>
	<b-container
		fluid="lg"
		class="mt3"
		:class="[$mq === 'mobile' ? '' : 'w-75']"
	>
		<b-row>
		<b-col v-for="plan in plans" :key="plan.id"
			><b-card :title="plan.length_description" border-variant="light">
			<h4 class="color_blue">
				{{ plan.hkd }}
				<span class="cur">{{
				currency.default == "HKD" ? "HKD" : "USD"
				}}</span>
			</h4>
			<b-card-text class="color_gray">
				{{ $t(plan.plan_descripton) }}
			</b-card-text>
			<b-card-text>
				<a
				class="colored_btn btn_brdr_blue fw-bold"
				@click="handleChoose(plan.plan_id)"
				>{{ $t("Choose Plan") }}</a
				>
			</b-card-text>
			</b-card></b-col
		>
		</b-row>
	</b-container>
	</div>
</div>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
import Loader from "@/components/loader";
// View page for list of plan packages
// @group Views
export default {
components: {
	Loader
},
data() {
	return {
	loading: true,
	currency: {
		type: String,
		default: "HKD"
	},
	plans: ""
	};
},
mounted() {
	this.getPackages();
},
methods: {
	...mapMutations(["setPlanId"]),
	getPackages() {
		// Fire on mounted, load the plans list using http request
	this.loading = true;
	this.$http.get("plans").then(
		response => {
		this.plans = response.body.data;
		this.loading = false;
		},
		error => {
		this.loading = false;
		this.errorMsg = error.body.message;
		}
	);
	},
	handleChoose(planId) {
		// Fire when user click on choose button
	this.setPlanId(planId);
	// this.$router.push("/payment-success");
	this.$router.push("/pay/checkout");
	}
}
};
</script>

<style lang="scss">
#packages {
background-color: var(--mainBg);
background: url("./../assets/home_upperbg.png") no-repeat top center;
background-size: 100%;
width: 100%;
height: 100%;
.bgpackages {
	min-height: calc(100vh - 193px);
	@include media-breakpoint-down(lg) {
	min-height: unset;
	padding: 2em 0;
	.container-lg {
		text-align: center;
		padding: 0 2em;
		.row {
		@include media-breakpoint-down(lg) {
			flex-direction: column;
			align-items: center;
			.col {
			max-width: 400px;
			width: 100%;
			margin-bottom: 1em;
			}
		}
		}
	}
	}
	.card-body {
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 3px;
	.cur {
		font-size: 0.75em;
		font-weight: normal;
	}
	}
	.colored_btn {
	padding: 0.25em;
	}
}
}
</style>
