<template>
    <div>
        <Loader :loading="loading" />
    </div>
</template>

<script>
import Loader from "@/components/loader";
import { mapGetters, mapMutations } from "vuex";

// @group Views
export default {
    components: {
        Loader
    },
    data(){
        return {
            loading: true,
        }
    },
    mounted(){
        this.init();
        console.log(this.getTicketId, this.user.id, this.getPlanId)
    },
    computed: {
        ...mapGetters(["user","getTicketId","getPlanId"]),
    },
    methods: {
        ...mapMutations(["setPlanId","setTicketId"]),
        init(){
            // load and check user payments
            if(!this.user){
                this.$router.push('/packages');
            } else if(!this.getTicketId){
                this.$router.push('/packages');
            } else if(!this.getPlanId){
                this.$router.push('/packages');
            } else {
                const payload = {
                    user_id: this.user.id,
                    plan_id: this.getPlanId,
                    ticket_id: this.getTicketId,
                }
                this.$http.post("plans/success", payload).then(
                    response => {
                        this.setPlanId(null);
                        this.setTicketId(null);
                        this.$router.push('/welcome');
                    },
                    error => {
                        console.log('error', error);
                        this.$router.push('/packages');
                    }
                );
            }
        },
    },
}
</script>