<template>
  <div class="result">
    <Loader :loading="loading" />
    <div class="bot_border">
      <h2>{{ $t("Assessment Result") }}</h2>
      <!-- <p>Your character type is:</p> -->
    </div>
    <!-- <Resultall></Resultall> -->
    <div class="results_all" v-if="results != '' && !loading">
      <div
        class="for_result"
        v-for="(result, index) in results"
        :key="'result' + index"
      >
        <!-- <h2>result {{ index }}</h2> -->
        <h2 class="text-center">
          {{ convertDate(result.details[0].save_datetime.slice(0, 10)) }}
        </h2>
        <div class="result_arr">
          <ul>
            <li
              v-for="(arr, ind) in result.result.slice(0, 3)"
              :key="'arr' + ind"
            >
              <img
                :src="
                  require(`@/assets/results/${arr.number}_${arr.names}-front.png`)
                "
              />
            </li>
          </ul>
          <p class="text-center mb-0">
            <a class="color_gray text-decoration-underline" @click="handleShowAllResylt(result.details[0].result_id)">{{
              $t("Show All Result")
            }}</a>
          </p>
        </div>
      </div>
    </div>
    <div class="nofile" v-else-if="results == '' && !loading">
      <img
        src="../assets/no_file.png"
        width="200"
        height="150"
        alt="File not found"
        class="mb1"
      />
      <p class="color_gray">{{ $t("No Result Found") }}</p>
      <a @click="handleTakeATest()" class="colored_btn btn_blue">{{
        $t("Take a Test")
      }}</a>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
import Resultall from "@/components/results/results-all";
import Loader from "@/components/loader";
// Page views for all user account game result
// @group Views
export default {
  components: {
    Resultall,
    Loader
  },
  data() {
    return {
      results: {},
      loading: true
    };
  },
  mounted() {
    this.handleResult();
  },
  computed: {
    ...mapGetters(["user"])
  },
  methods: {
    // @vuese
    ...mapMutations(["resetSelectedAssesmentCards"]),
    convertDate(val) {
      // Function method that format dates
      var parts = val.split("-");
      var mydate = new Date(parts[0], parts[1] - 1, parts[2]);
      const monthNames = [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December"
      ];
      return monthNames[mydate.getMonth()] + " " + parts[1] + " " + parts[0];
    },
    handleTakeATest() {
      // Fires when user click on button take a test
      this.resetSelectedAssesmentCards();
      this.$router.push("/play/card-assessment");
    },
    handleResult() {
      // Fires on mounted, request http to get the user results data
      this.loading = true;

      this.$http.get("results/" + this.user.id).then(
        response => {
          const results = response.body;
          this.results = results.reverse();
          // console.log(this.results);
          this.loading = false;
        },
        error => {
          this.loading = false;
          this.errorMsg = error.body.message;
        }
      );
    },
    handleShowAllResylt(val){
      // Fires when user click on result of a single game
      this.$router.push("/play/card-result/" + val);
    },
  }
};
</script>

<style lang="scss" scope>
.result {
  .bot_border {
    padding: 30px 0 0;
  }
  .nofile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10em 0;
    .colored_btn {
      width: 126px;
      height: 28px;
      text-decoration: none;
    }
  }
}
.results_all {
  width: 800px;
  margin: auto;
  padding: 5em 0;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include media-breakpoint-down(lg) {
    width: auto;
    margin: auto 1em;
    padding: 1em 0;
  }
  .for_result {
    border: 1px solid var(--gray);
    margin-bottom: 0.5em;
    padding: 1em 1em 1em 1em;
    width: 49.5%;
    height: auto;
    // &:nth-child(even) {
    //   float: right;
    // }
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
    ul {
      display: flex;
      justify-content: space-between;
      li {
        margin: 10px;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
    }
  }
}
</style>
