<template>
  <div class="sign verification">
    <router-link to="/" class="close"></router-link>
    <div class="sign_img">
      <!-- <img src="../assets/sign_placeholder.jpg" alt="" /> -->
    </div>

    <Loader :loading="loading" />
    <div class="sign_form">
      <div class="sign_details">
        <h2>{{ $t("Verification") }}</h2>
        <p>{{ $t("Thank you for signing up!") }}</p>
        <p>
          {{ $t("Enter here the verification code we’ve sent to your email.") }}
        </p>

        <div>
          <Countdown
            v-if="!isTimerEnd"
            :date="dateToday"
            @onEnd="timerEnd"
          ></Countdown>
          <a v-else @click="handleResendCode" class="mb4">{{
            $t("Resend Code")
          }}</a>
        </div>

        <p class="error" v-if="errorMsg">{{ errorMsg }}</p>
        <div class="code mb3">
          <input
            type="text"
            name="cod1"
            maxlength="1"
            v-model="code.code1"
            ref="code1"
            @keyup="handleKeyCode1"
          />
          <input
            type="text"
            name="cod2"
            maxlength="1"
            v-model="code.code2"
            ref="code2"
            @keyup="handleKeyCode2"
          />
          <input
            type="text"
            name="cod3"
            maxlength="1"
            v-model="code.code3"
            ref="code3"
            @keyup="handleKeyCode3"
          />
          <input
            type="text"
            name="cod4"
            maxlength="1"
            v-model="code.code4"
            ref="code4"
            @keyup="handleKeyCode4"
          />
        </div>
        <button
          ref="submit"
          @click="handleVerify"
          :disabled="buttonVerifyEnabled"
          class="btn_verify"
        >
          {{ $t("Verify") }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
import Countdown from "./../components/timer";
import Loader from "@/components/loader";
// View page for sign-up verification required
// @group Views
export default {
  components: {
    Countdown,
    Loader
  },
  data() {
    return {
      loading: false,
      isTimerEnd: false,
      dateToday: "",
      errorMsg: "",
      code: {
        code1: "",
        code2: "",
        code3: "",
        code4: ""
      }
    };
  },
  mounted() {
    this.startTime();
    this.$refs.code1.focus();
  },
  computed: {
    ...mapGetters(["user"]),
    buttonVerifyEnabled() {
      const { code1, code2, code3, code4 } = this.code;
      return code1 !== "" && code2 !== "" && code3 !== "" && code4 !== ""
        ? false
        : true;
    }
  },
  methods: {
     // @vuese
    ...mapMutations(["verifyUser"]),
    handleVerify() {
      // Fire when user click the button verify, will request http to server and check the verification code
      this.loading = true;
      const { code1, code2, code3, code4 } = this.code;
      const payload = {
        email: this.user.email,
        verification_code: code1 + code2 + code3 + code4
      };

      this.$http.post("verify", payload).then(
        response => {
          this.loading = false;
          this.verifyUser();
          this.$router.push("/welcome");
        },
        error => {
          //console.log('error', error);
          this.errorMsg = error.body.message;
          this.loading = false;
        }
      );
    },
    startTime() {
      // Function method that start the time for resend
      let today = new Date();
      today.setMinutes(today.getMinutes() + 5);

      const formatMap = {
        hh: today.getHours(),
        ii: today.getMinutes(),
        ss: today.getSeconds(),
        mm: today.getMonth() + 1,
        dd: today.getDate(),
        yy: today
          .getFullYear()
          .toString()
          .slice(-2),
        yyyy: today.getFullYear()
      };

      const value = `${formatMap.yyyy}-${formatMap.mm}-${formatMap.dd} ${formatMap.hh}:${formatMap.ii}:${formatMap.ss}`;
      this.dateToday = value;
    },
    timerEnd() {
      // Function method that stop the time for resend
      this.isTimerEnd = true;
    },
    handleResendCode() {
      // Fires when user click on resend button
      this.loading = true;
      this.isTimerEnd = false;
      this.startTime();

      const payload = {
        email: this.user.email
      };
      this.$http.post("resendEmail", payload).then(
        response => {
          console.log(response);
          this.loading = false;
        },
        error => {
          console.log("error", error);
          this.loading = false;
        }
      );
    },
    handleKeyCode1(val) {
      // On key press for text code focus
      if (val.target.value) {
        this.$refs.code2.focus();
      }
    },
    handleKeyCode2(val) {
      // On key press for text code focus
      if (val.target.value) {
        this.$refs.code3.focus();
      }
    },
    handleKeyCode3(val) {
      // On key press for text code focus
      if (val.target.value) {
        this.$refs.code4.focus();
      }
    },
    handleKeyCode4(val) {
      // On key press for text code focus
      if (val.target.value) {
        this.$refs.submit.focus();
      }
    }
  }
};
</script>

<style lang="scss" scope>
.verification {
  width: 100%;
  overflow: hidden;
  .sign_img {
    float: left;
    width: 50%;
    height: 100vh;
    background: #47435c url(../assets/sign_placeholder.jpg) no-repeat center top;
    background-size: 75% 100%;
    opacity: 0.8;
    // img {
    //   width: 100%;
    //   height: 100%;
    // }
  }
  .sign_form {
    float: right;
    width: 50%;
    .sign_head {
      width: 100%;
    }
    .sign_details {
      display: flex;
      position: relative;
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      margin: auto;
      color: var(--gray);
      h2 {
        color: var(--blue);
      }
      .code {
        display: flex;
        width: 150px;
        justify-content: space-between;
        input {
          border: unset;
          border-bottom: 2px solid var(--gray);
          width: 2em;
          text-align: center;
          &:focus-visible {
            outline-width: 0;
          }
        }
      }
      .btn_verify {
        background: var(--blue) 0% 0% no-repeat padding-box;
        box-shadow: 0px 1px 3px #00000033;
        border-radius: 4px;
        border: unset;
        color: #fff;
        width: 20em;
        padding: 1em;
        &:disabled {
          background: var(--gray) 0% 0% no-repeat padding-box;
        }
      }
    }
  }

  a {
    color: #00aeef;
  }
}
</style>
