<template>
  <div class="sign sign_up">
    <router-link to="/" class="close"></router-link>
    <div class="sign_img">
      <!-- <img src="../assets/sign_placeholder.jpg" alt="" /> -->
    </div>

    <div class="sign_form">
      <Loader :loading="loading" />
      <div
        class="sign_details"
        :class="[$mq === 'mobile' ? 'text-center' : '']"
      >
        <div class="sign_head">
          <img src="../assets/sign_in_icon.svg" alt="" />
          <h2 :class="[$mq === 'mobile' ? 'mb1 color_gray' : 'color_blue']">
            {{ $t("Sign up on NAME") }}
          </h2>
          <p class="mb3 color_gray _pc">
            {{ $t("Just a few clicks away to the best career path for you.") }}
          </p>
        </div>
        <div class="sign_input">
          <div v-if="errorMsg">
            <p>{{ errorMsg }}</p>
          </div>
          <div class="user_email" :class="[$mq === 'mobile' ? 'mb1' : 'mb2']">
            <input
              type="text"
              name="username"
              :placeholder="$t('Name')"
              class=""
              v-model="account.username"
            />
            <div class="error-items">
              <p
                v-for="(error, index) in errors.username"
                :key="'username-error' + index"
              >
                {{ error }}
              </p>
            </div>
          </div>
          <div class="user_email" :class="[$mq === 'mobile' ? 'mb1' : 'mb2']">
            <input
              type="text"
              name="username"
              :placeholder="$t('Email Address')"
              class=""
              v-model="account.email"
            />
            <div class="error-items">
              <p
                v-for="(error, index) in errors.email"
                :key="'email-error' + index"
              >
                {{ error }}
              </p>
            </div>
          </div>
          <div
            class="user_pass show"
            :class="[$mq === 'mobile' ? 'mb1' : 'mb2']"
          >
            <input
              :type="[isPass ? 'password' : 'text']"
              name="password"
              :placeholder="$t('Password')"
              v-model="account.password"
            />
            <span
              class="eyes"
              @click="isPass = !isPass"
              :class="[isPass ? 'show' : 'hide']"
            ></span>
            <div class="error-items">
              <p
                v-for="(error, index) in errors.password"
                :key="'pass-error' + index"
              >
                {{ error }}
              </p>
            </div>
          </div>
          <!-- <label for="user_pass" class="color_gray mb1"
            >The password must be between 4 and 6 characters</label
          > -->
          <div
            class="user_pass show"
            :class="[$mq === 'mobile' ? 'mb1' : 'mb2']"
          >
            <input
              :type="[isRePass ? 'password' : 'text']"
              name="password_confirmation"
              :placeholder="$t('Re-type Password')"
              v-model="account.password_confirmation"
            />
            <span
              class="eyes"
              @click="isRePass = !isRePass"
              :class="[isRePass ? 'show' : 'hide']"
            ></span>
            <div class="error-items">
              <p
                v-for="(error, index) in errors.password_confirmation"
                :key="'pass2-error' + index"
              >
                {{ error }}
              </p>
            </div>
          </div>
          <div class="terms show" :class="[$mq === 'mobile' ? 'mb1' : 'mb2']">
            <input type="checkbox" id="yes" value="yes" v-model="checked" />
            <span
              >{{ $t("I have accepted the") }}
              <router-link to="/terms-and-condition">{{
                $t("Terms and Conditions")
              }}</router-link></span
            >
          </div>
          <button
            @click="handleSignin"
            :disabled="disabledButton"
            :class="[$mq === 'mobile' ? 'mb1' : '']"
          >
            {{ $t("Sign Up") }}
          </button>
        </div>
        <div class="sign_bottom">
          <div class="register">
            <p>
              {{ $t("Already have an account?") }}
              <router-link to="/login">{{ $t("Sign In") }}</router-link>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations } from "vuex";
import Loader from "@/components/loader";
// View page for account registration
// @group Views
export default {
  data() {
    return {
      loading: false,
      isPass: true,
      isRePass: true,
      errorMsg: "",
      account: {
        username: "",
        email: "",
        password: "",
        password_confirmation: ""
      },
      checked: [],
      errors: {
        username: [],
        email: [],
        password: [],
        password_confirmation: []
      }
    };
  },
  components: {
    Loader
  },
  computed: {
    disabledButton() {
      const { username, email, password, password_confirmation } = this.account;

      if (!this.checked.length) {
        return true;
      } else if (this.loading) {
        return true;
      } else if (!username || !email || !password || !password_confirmation) {
        return true;
      }

      return false;
    }
  },
  methods: {
    // @vuese
    ...mapMutations(["loginUser"]),
    handleSignin() {
      // Fires when user click on submit button, validate user entries
      this.errors = {
        username: [],
        email: [],
        password: [],
        password_confirmation: []
      };
      const { username, email, password, password_confirmation } = this.account;
      if (!username) {
        this.errors.username = ["Please enter username"];
        console.log(1);
      } else if (!email) {
        this.errors.email = ["Please enter email"];
        console.log(2);
      } else if (!password) {
        this.errors.password = ["Please enter password"];
        console.log(3);
      } else if (!password_confirmation) {
        this.errors.password_confirmation = ["Please enter confirm password"];
        console.log(4);
      } else if (password !== password_confirmation) {
        this.errors.password_confirmation = ["Confirm password not match"];
        console.log(this.errors.password_confirmation);
      } else {
        this.submitSignUp();
      }
    },
    submitSignUp() {
      // Function method that request http to for registration
      this.loading = true;

      this.$http.post("register", this.account).then(
        response => {
          const { user, access_token } = response.body;
          const { id, username, email, verified } = user;
          this.loginUser({
            id: id,
            username: username,
            email: email,
            verified: verified === "true" || verified === true ? true : false,
            token: access_token
          });
          this.loading = false;
          this.redirectPage(verified);
        },
        error => {
          //console.log('error', error);
          this.loading = false;
          const {
            username,
            email,
            password,
            password_confirmation
          } = error.body.errors;
          //this.errorMsg = error.body.message;
          this.errors.username = username ? username : [];
          this.errors.email = email ? email : [];
          this.errors.password = password ? password : [];
          this.errors.password_confirmation = password_confirmation
            ? password_confirmation
            : [];
        }
      );
    },
    redirectPage(verified) {
      // Function method fire if the user logged and detect if verified or not
      if (verified === true || verified === "true") {
        this.$router.push("/dashboard");
      } else {
        this.$router.push("/verification");
      }
    }
  }
};
</script>

<style lang="scss" scope>
.sign_up {
  width: 100%;
  overflow: hidden;
  .sign_img {
    float: left;
    width: 50%;
    height: 100vh;
    background: #47435c url(../assets/sign_placeholder.jpg) no-repeat center top;
    background-size: 75% 100%;
    opacity: 0.8;
    // img {
    //   width: 100%;
    //   height: 100%;
    // }
  }
  .sign_form {
    float: right;
    width: 50%;
    .sign_head {
      width: 100%;
    }
    .sign_details {
      display: flex;
      position: relative;
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      margin: auto;
      @include media-breakpoint-down(lg) {
        height: auto;
      }
      .classmade {
        display: block;
        width: 100%;
        background: #fff;
        box-shadow: 0px 2px 6px #0000001a;
        border-radius: 5px;
        padding: 0.75em;
        text-align: center;
        color: #000;
        font-weight: bold;
      }
      .sign_input {
        width: 100%;
        .user_email,
        .user_pass {
          position: relative;
          input {
            width: 100%;
            padding: 0.75em;
            border: 1px solid #000000;
            border-radius: 4px;
            position: relative;
          }
        }
        .user_pass {
          .show {
            background: url("../assets/icon_show.png") no-repeat top center;
            background-size: cover;
          }
          .hide {
            background: url("../assets/icon_hide.png") no-repeat top center;
            background-size: cover;
          }
          .eyes {
            position: absolute;
            content: "";
            visibility: visible;
            width: 24px;
            height: 24px;
            right: 1em;
            top: 0;
            bottom: 0;
            margin: auto;
            cursor: pointer;
          }
        }
        button {
          background: var(--blue) 0% 0% no-repeat padding-box;
          box-shadow: 0px 1px 3px #00000033;
          border-radius: 4px;
          width: 100%;
          padding: 0.75em;
          border: unset;
          color: #fff;
          &:disabled {
            background: var(--gray) 0% 0% no-repeat padding-box;
          }
        }
      }
      .sign_bottom {
        position: absolute;
        bottom: 0;
        overflow: hidden;
        width: 100%;

        .forgot {
          float: left;
        }
        .register {
          float: right;
        }
      }
    }
  }

  .error-items {
    p {
      margin-top: 3px;
      font-size: 15px;
      color: #000000;
      opacity: 0.5;
    }
  }

  a {
    color: #00aeef;
  }
}
</style>
