<template>
  <div class="sign sign_in">
    <router-link to="/" class="close"></router-link>
    <div class="sign_img">
      <!-- <img src="../assets/sign_placeholder.jpg" alt="" /> -->
    </div>

    <div class="sign_form" :class="[$mq === 'mobile' ? 'text-center' : '']">
      <Loader :loading="loading" />
      <div class="sign_details">
        <div class="sign_head">
          <img src="../assets/sign_in_icon.svg" alt="" />
          <h2 class="_pc">{{ $t("Sign In") }}</h2>
          <p class="mb3 color_gray _pc">
            {{
              $t(
                "Guiding you onto the first step to your future – your career path."
              )
            }}
          </p>
          <h2 class="mb1 color_gray _sp">
            {{ $t("Welcome Back") }}
          </h2>
          <router-link to="#" class="classmade mb1 _pc">{{
            $t("Sign in with Classmade")
          }}</router-link>
          <ul class="text-center border_or">
            <li></li>
            <li>or</li>
            <li></li>
          </ul>
        </div>
        <div class="sign_input">
          <div v-if="errorMsg">
            <p>{{ $t(errorMsg) }}</p>
          </div>
          <div class="user_email">
            <input
              type="text"
              name="email"
              :placeholder="$t('Email Address')"
              :class="[$mq === 'mobile' ? 'mb1' : 'mb2']"
              v-model="account.email"
            />
          </div>
          <div
            class="user_pass show"
            :class="[$mq === 'mobile' ? 'mb1' : 'mb2']"
          >
            <input
              :type="[isActive ? 'password' : 'text']"
              name="password"
              :placeholder="$t('Password')"
              v-model="account.password"
              @keyup="keypressEnter"
            />
            <span
              class="eyes"
              @click="handlePassword"
              :class="[isActive ? 'show' : 'hide']"
            ></span>
          </div>
          <div class="forgot _sp mb5 text-end">
            <router-link to="/">{{ $t("Forgot Password?") }}</router-link>
          </div>
          <button
            @click="handleSignin"
            :disabled="isButtonDisabled"
            :class="[isActive ? 'mb1' : 'mb1']"
          >
            {{ $t("Sign In") }}
          </button>
          <router-link to="#" class="classmade mb1 _sp">{{
            $t("Sign in with Classmade")
          }}</router-link>
        </div>
        <div class="sign_bottom">
          <div class="forgot _pc">
            <router-link to="/">{{ $t("Forgot Password?") }}</router-link>
          </div>
          <div class="register">
            <p>
              {{ $t("Don't have an account?") }}
              <router-link to="/register">{{ $t("Join") }}</router-link>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations } from "vuex";
import Loader from "@/components/loader";
// View page for sign-in user account
// @group Views
export default {
  data() {
    return {
      loading: false,
      isActive: true,
      errorMsg: "",
      account: {
        email: "",
        password: ""
      }
    };
  },
  components: {
    Loader
  },
  computed: {
    isButtonDisabled() {
      return this.account.email && this.account.password && !this.loading
        ? false
        : true;
    }
  },
  methods: {
    // @vuese
    ...mapMutations(["loginUser"]),
    handleSignin() {
      // Fires when user click on button login
      const { email, password } = this.account;
      if (!email) {
        this.errorMsg = "Please enter email";
      } else if (!password) {
        this.errorMsg = "Please enter password";
      } else {
        this.submitSignin();
      }
    },
    submitSignin() {
      // Function method that request http to server and store the data
      this.loading = true;
      this.$http.post("login", this.account).then(
        response => {
          const { user, access_token } = response.body;
          const { id, username, email, verified } = user;
          this.loginUser({
            id: id,
            username: username,
            email: email,
            verified: verified === "true" || verified === true ? true : false,
            token: access_token
          });
          this.loading = false;
          this.redirectPage(verified);
        },
        error => {
          //console.log('error', error);
          this.loading = false;
          this.errorMsg = error.body.message;
        }
      );
    },
    redirectPage(verified) {
      // Function method fire if the user logged and detect if verified or not
      if (verified === true || verified === "true") {
        this.$router.push("/dashboard");
      } else {
        this.$router.push("/verification");
      }
    },
    handlePassword() {
      // Fire when user click on small icon near password textbox, will show and hide the password
      this.isActive = !this.isActive;
    },
    keypressEnter(enter) {
      // On keypress detect user input
      if (enter.keyCode == 13) {
        if (!this.account.email || !this.account.password) {
          console.log("empty");
        } else this.handleSignin();
      }
    }
  }
};
</script>

<style lang="scss" scope>
.sign_in {
  width: 100%;
  overflow: hidden;
  position: relative;

  .sign_img {
    float: left;
    width: 50%;
    height: 100vh;
    background: #47435c url(../assets/sign_placeholder.jpg) no-repeat center top;
    background-size: 75% 100%;
    opacity: 0.8;
    // img {
    //   width: 100%;
    //   height: 100%;
    // }
  }
  .sign_form {
    float: right;
    width: 50%;
    .sign_head {
      width: 100%;
    }
    .sign_details {
      display: flex;
      position: relative;
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      margin: auto;
      @include media-breakpoint-down(lg) {
        height: 100vh;
      }

      .classmade {
        display: block;
        width: 100%;
        background: #45b171;
        box-shadow: 0px 2px 6px #0000001a;
        border-radius: 5px;
        padding: 0.75em;
        text-align: center;
        color: #fff;
        font-weight: bold;
        &._sp {
          display: none;
        }
        @include media-breakpoint-down(lg) {
          &._pc {
            display: none;
          }
          &._sp {
            display: block;
          }
        }
      }
      .border_or {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        margin-bottom: 1em !important;
        @include media-breakpoint-down(lg) {
          display: none;
        }
        li {
          color: var(--gray);
          &:first-child,
          &:last-child {
            display: block;
            border-top: 1px solid var(--gray);
            width: 40%;
          }
          // &:last-child {
          //   display: block;
          //   border: 1px solid var(--gray);
          // }
        }
      }
      .sign_input {
        width: 100%;
        .user_email,
        .user_pass {
          position: relative;
          input {
            width: 100%;
            padding: 0.75em;
            border: 1px solid #000000;
            border-radius: 4px;
            position: relative;
          }
        }
        .user_pass {
          .show {
            background: url("../assets/icon_show.png") no-repeat top center;
            background-size: cover;
          }
          .hide {
            background: url("../assets/icon_hide.png") no-repeat top center;
            background-size: cover;
          }
          .eyes {
            position: absolute;
            content: "";
            visibility: visible;
            width: 24px;
            height: 24px;
            right: 1em;
            top: 0;
            bottom: 0;
            margin: auto;
            cursor: pointer;
          }
        }
        button {
          background: var(--blue) 0% 0% no-repeat padding-box;
          box-shadow: 0px 1px 3px #00000033;
          border-radius: 4px;
          width: 100%;
          padding: 0.75em;
          border: unset;
          color: #fff;
          &:disabled {
            background: var(--gray) 0% 0% no-repeat padding-box;
          }
        }
      }
      .sign_bottom {
        position: absolute;
        bottom: 0;
        overflow: hidden;
        width: 100%;
        .forgot {
          float: left;
        }
        .register {
          float: right;
          @include media-breakpoint-down(lg) {
            float: unset;
            text-align: center;
          }
        }
      }
    }
  }

  a {
    color: #00aeef;
  }
}
</style>
