<template>
  <div class="edit_account update_plan">
    <div class="bot_border">
      <h2>{{ $t("Change Plan Details") }}</h2>
    </div>
    <div class="account_details_margin">
      <form
        action=""
        class="update_plan_form"
        :class="[$mq === 'mobile' ? '' : 'col-4']"
      >
        <label for="card_fname">{{ $t("First Name") }}</label>
        <input type="text" name="card_fname" />
        <!-- <p><a href="#">{{ $t("Forgot Password")}}</a></p> -->
        <label for="card_lname">{{ $t("Last Name") }}</label>
        <input type="text" name="card_lname" />
        <label for="card_number">{{ $t("Card Number") }}</label>
        <input type="text" name="card_number" />
        <label for="expiration_date">{{ $t("Expiration Date (MM/YY)") }}</label>
        <input type="text" name="expiration_date" />
        <label for="security_code">{{ $t("Security Code (CVV)") }}</label>
        <input type="text" name="security_code" />

        <p>
          {{
            $t(
              "Your payments will be processed internationally. Additional bank fees may apply."
            )
          }}
        </p>
        <div class="account_details_btn">
          <button type="button" @click="handleCancel()">
            {{ $t("Cancel") }}
          </button>
          <button type="button">
            {{ $t("Save Changes") }}
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import "@/styles/edit-account.scss";
// View form for update plans
// @group Views
export default {
  data() {
    return {};
  },
  methods: {
    // @vuese
    handleCancel() {
      // Fire when user click on cancel button
      this.$router.push("/account");
    }
  }
};
</script>

<style lang="scss" scope></style>
