<template>
  <div class="welcome">
    <div class="d-flex justify-content-center base_margin">
      <h2 class="mb1">{{ $t("Welcome to") }}</h2>
      <div class="logo mb2">
        <h3>LOGO</h3>
      </div>
      <p class="fw-bold mb2" :class="[$mq === 'mobile' ? 'p-3' : '']">
        {{
          $t(
            "A digital card game that will help you discover the gem that you are. With this creatively crafted game, you will be able to gain a deeper understanding of who you are and what strategies will work best for your growth and development"
          )
        }}
      </p>
      <div class="_pc">
        <ul id="topics">
          <li class="mb2">
            <div class="img_cont" v-for="topic in topics" :key="topic.id">
              <span>{{ topic.image }}</span>
            </div>
          </li>
          <li class="mb2">
            <h4 v-for="topic in topics" :key="topic.id">
              {{ $t(topic.title) }}
            </h4>
          </li>
          <li>
            <p v-for="topic in topics" :key="topic.id">{{ $t(topic.text) }}</p>
          </li>
        </ul>
      </div>
      <div class="_sp">
        <ul id="topics">
          <li class="mb2">
            <div
              class="img_cont"
              v-for="topic in topics.slice(0, 2)"
              :key="topic.id"
            >
              <span>{{ topic.image }}</span>
            </div>
          </li>
          <li class="mb2">
            <h4 v-for="topic in topics.slice(0, 2)" :key="topic.id">
              {{ $t(topic.title) }}
            </h4>
          </li>
          <li>
            <p v-for="topic in topics.slice(0, 2)" :key="topic.id">
              {{ $t(topic.text) }}
            </p>
          </li>
        </ul>
        <ul id="topics">
          <li class="mb2">
            <div
              class="img_cont"
              v-for="topic in topics.slice(2)"
              :key="topic.id"
            >
              <span>{{ topic.image }}</span>
            </div>
          </li>
          <li class="mb2">
            <h4 v-for="topic in topics.slice(2)" :key="topic.id">
              {{ $t(topic.title) }}
            </h4>
          </li>
          <li>
            <p v-for="topic in topics.slice(2)" :key="topic.id">
              {{ $t(topic.text) }}
            </p>
          </li>
        </ul>
      </div>

      <router-link to="/dashboard" class="colored_btn btn_blue"
        >Close</router-link
      >
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      topics: [
        {
          image: "img",
          title: "Interest and preference",
          text: "Get a deeper understanding about your personality",
          id: "Interest"
        },
        {
          image: "img",
          title:
            "Technical and Vocational Education Academic Subjects to Consider “Technical and Vocational Subjects to Consider”",
          text:
            "Learn about different learning styles and find the one that is best for you",
          id: "Technical"
        },
        {
          image: "img",
          title: "University Academic Subjects to Consider",
          text:
            "Explore different things and how you could further enjoy learning through experiences",
          id: "University"
        },
        {
          image: "img",
          title: "Sample Careers",
          text:
            "Giving yourself an opportunity to land the career well suited for you by understanding your ways and perspectives deeper with games",
          id: "Careers"
        }
      ]
    };
  }
};
</script>

<style lang="scss" scope>
.welcome {
  background: url("./../assets/home_upperbg.png") no-repeat top center;
  background-size: 100%;
  width: 100%;
  height: 100%;
  text-align: center;
  .base_margin {
    flex-direction: column;
    align-items: center;
    padding: 10em 0 6em;
    @include media-breakpoint-down(lg) {
      padding: 3em 0;
    }
  }
  .logo {
    // max-width: 200px;
    width: 200px;
    height: 57px;
    background: #fff;
    color: #707070;
    border: 1px solid #707070;
    h3 {
      text-align: center;
      margin: 0;
      line-height: 57px;
    }
  }
  #topics {
    display: flex;
    flex-direction: column;
    align-items: center;
    li {
      width: 100%;
      display: flex;
      flex-direction: row;
      /* justify-content: space-around; */
      text-align: center;
      @include media-breakpoint-down(lg) {
        justify-content: space-around;
      }
      div,
      h4,
      p {
        width: 25%;
        padding: 0 1em;
        box-sizing: border-box;
        @include media-breakpoint-down(lg) {
          width: 50%;
        }
      }
      h4 {
        align-self: center;
      }
      p {
        color: var(--gray);
      }
      .img_cont {
        span {
          display: block;
          width: 120px;
          height: 120px;
          background-color: #ffbbbb;
          margin: 0 auto;
          border-radius: 4em;
        }
      }
    }
  }
  .colored_btn {
    width: 126px;
    height: 28px;
  }
}
</style>
