<template>
    <div class="card-parent-research">
        <h2 class="title">{{ $t('Result Summary') }}</h2>
        <p class="title">{{ $t('Select your Top 3 Cards') }}</p>

        <div class="cards-list">
            <div
                :class="[
                    'card-item',
                    { clickable: card.clickable && !isSelectedCard(card) },
                    { active: isActiveCard(card) }
                ]"
                v-for="(card, index) in resultCards"
                :key="'card' + index"
            >
                <p class="top">
                    <span v-if="getTop3Card(card) && getTop3Card(card) < 4">Top {{ getTop3Card(card) }}</span>
                </p>
                <div class="card-item-content" @click="handleAddTopCard(card)">
                    <img :src="require(`@/assets/results/${card.number}_${card.names}-front.png`)" />
                </div>
                <a
                    class="remove"
                    v-if="isActiveCard(card)"
                    @click="handleRemoveTopCard(card)"
                >{{ $t('Remove') }}</a>
            </div>
        </div>

        <PlayNavigation
            @cancel="handleCancel"
            @next="handleNext"
            :disabledNext="isNextDisabled"
            :isFixed="true"
            nextText="Done"
            cancelText="Back"
        />
    </div>
</template>

<script>
import PlayNavigation from "@/components/play-navigation";
import { mapMutations, mapGetters } from "vuex";
import { SCORES } from "@/utils/cards.ts";

export default {
    components: {
        PlayNavigation,
    },
    data(){
        return {
            selectedCards: [],
            resultCards: [],
            top3Cards: [],
        };
    },
    mounted(){
        if(this.getSelectedSummaryCards.length <= 0){
            this.$router.push("/dashboard");
        }
        this.generateResult(this.getSelectedSummaryCards, SCORES);
    },
    computed: {
        ...mapGetters(["getSelectedSummaryCards","user"]),
        isNextDisabled(){
            let top3Cards = this.top3Cards.length > 3 ? this.top3Cards.slice(0,3) : this.top3Cards;
            let topFlag = false;
            top3Cards.map(t => {
                if(!t.item){
                    topFlag = true;
                }
            });
            return topFlag;
        },
    },
    methods: {
        ...mapMutations(["resetSelectedAssesmentCards", "resetSelectedSummaryCards"]),
        handleAddTopCard(card){
            if(!card.clickable) return;
            if(this.isSelectedCard(card)) return;
            this.selectedCards = [...this.selectedCards, card];
            this.handleAddTop3Card(card);
        },
        handleRemoveTopCard(card){
            this.selectedCards = this.selectedCards.filter(data => data.number != card.number);
            this.handleRemoveTop3Card(card);
        },
        handleAddTop3Card(card){
            const datas = [...this.top3Cards];
            const item = datas.find(data => data.total == card.total);
            const index = datas.indexOf(item);
            datas[index].item = card;
            this.top3Cards = datas;
        },
        handleRemoveTop3Card(card){
            const datas = [...this.top3Cards];
            const item = datas.find(data => data.total == card.total);
            const index = datas.indexOf(item);
            datas[index].item = null;
            this.top3Cards = datas;
        },
        isActiveCard(card){
            return this.selectedCards.find(data => data.number === card.number) ? true : false;
        },
        isSelectedCard(card){
            return this.selectedCards.find(data => data.total === card.total) ? true : false;
        },
        getTop3Card(card){
            const topcard = this.top3Cards.find(data => data.total === card.total);
            if(!topcard.item) return false;
            if(topcard.item === card){
                return topcard.order_no;
            } else {
                return false;
            } 
        },
        handleCancel(){
            this.$router.push("/play/card-summary");
        },
        handleNext(){
            const top3Cards = this.top3Cards.length > 3 ? this.top3Cards.slice(0,3) : this.top3Cards;

            let myTop3Cards = top3Cards.map((t, index) => {
                return {
                    index: index,
                    number: t.item.number, 
                    type: t.item.type,
                    names: t.item.names,
                    total: t.item.total,
                };
            });

            let nextIndex = 3;
            this.resultCards.map(r => {
                const checkExist = myTop3Cards.filter(m => m.type === r.type);
                if(checkExist.length < 1){
                    myTop3Cards.push({
                        index: nextIndex,
                        number: r.number, 
                        type: r.type,
                        names: r.names,
                        total: r.total,
                    });
                    nextIndex++;
                }
            });

            const myResult = {
                user_id: this.user.id,
                result: myTop3Cards,
                picked: this.getSelectedSummaryCards,
            }

            
            this.$http.post("result", myResult).then(
            response => {
                console.log(response.body);
                this.resetSelectedAssesmentCards();
                this.resetSelectedSummaryCards();
                this.$router.push("/play/card-result/" + response.body);
            },
            error => {
                console.log('error', error);
                this.loading = false;
            }
        );
        },
        generateResult(cards, result){
            let all_answers = [];
            let results = result;
            let group = [];
            let withids = [];

            // get all numbers
            cards.map(card => {
                card.answers.map(item => {
                    if(typeof item.type === "number"){
                        all_answers = [...all_answers, item.type];
                    } else {
                        all_answers = [...all_answers, ...item.type];
                    }
                });
            });

            // total all numbers
            all_answers.map(type => {
                if(type !== 0){
                    const item = results.find(data => data.type == type);
                    const index = results.indexOf(item);

                    if(results[index].total){
                        results[index].total++;
                    } else {
                        results[index].total = 1;
                    }
                }
            });

            // remove with zero totals
            const removed_zero_results = results.filter(r => r.total >= 1);

            // sort 
            const sorted_results = removed_zero_results.sort((a, b) => {
                if (a.total > b.total) return -1
                return a.total < b.total ? 1 : 0
            });

            // slice 6 item
            const sliced_results = sorted_results.length <= 6 ? sorted_results : sorted_results.slice(0,6)

            // group
            sliced_results.map(r => {
                const item = group.find(data => data.total == r.total);
                if(!item){
                    group.push({
                        total: r.total,
                        items: [r]
                    });
                } else {
                    const index = group.indexOf(item);
                    group[index].items = [...group[index].items, r];
                }
            });

            // add same total and clickable / and top item
            console.log(group,'group');
            group.map((r, index) => {
                let top_item = null;
                if(r.items.length === 1){
                    r.items[0].total_same_value = 0;
                    r.items[0].clickable = false;
                    withids.push(r.items[0]);

                    top_item = r.items[0];
                } else {
                    r.items.map(item => {
                        item.total_same_value = r.items.length;
                        item.clickable = true;
                        withids.push(item);
                    });
                }

                this.top3Cards.push({
                    order_no: index + 1,
                    total: r.total,
                    item: top_item
                });
            });

            console.log(this.top3Cards,'top3Cards');
            console.log(withids,'resultCards')
            
            this.resultCards = withids;
        },
    },
};
</script>

<style lang="scss" scoped>
.card-parent-research {
  h2.title {
    margin-top: 24px;
    padding-bottom: 15px;
    text-align: center;
    font: normal normal 600 26px/24px Crimson Pro;
    letter-spacing: 0px;
    color: #221e1f;
    border-bottom: 1px solid var(--gray);
  }
  p.title {
    max-width: 1199px;
    margin: auto;
    margin-bottom: 15px;
    padding-bottom: 15px;
    text-align: center;
    letter-spacing: 0.22px;
    font-size: 16px;
    font-weight: 600;
    color: #221e1f;
  }
  p.title2 {
    text-align: center;
    font-size: 16px;
    color: #221e1f;
  }

  .cards-list {
      display: flex;
      justify-content: center;
      align-content: center;
      .card-item {
        width: 183px;
        margin: 5px;
        text-align: center;

        .top {
            height: 33px;
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: bold;
            color: #221E1F;
            text-align: center;
        }

        .remove {
            display: block;
            margin-top: 10px;
            color: #FF6868;
            font-size: 18px;
            font-weight: bold;
        }

        .card-item-content {
            height: 220px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }
        }


        &.clickable {
             .card-item-content {
                cursor: pointer;
                &:hover {
                    outline: 3px solid #00AEEF;
                }
            }
        }

        &.active {
            .card-item-content {
                outline: 3px solid #00AEEF;
            }
        }
      }
  }
}
</style>