<template>
  <div class="card-parent-summary">
    <h2 class="title">{{ $t("Card Summary") }}</h2>
    <p class="title">{{ $t("Select and Flip a card to see questionnaire") }}</p>

    <div class="cards-summary">
      <a
        :class="['item', { isFaceUp: isFaceUp(item) }]"
        v-for="(item, index) in selected"
        :key="'item' + index"
        @click="handleOpenCard(item)"
      >
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="photo">
                <img :src="require(`@/assets/cards/${item.id}.png`)" />
              </div>
              <div class="completed" v-if="isCompleted(item)">
                {{ $t("Complete") }}
              </div>
            </div>
            <div class="flip-card-back">
              <div class="photo"></div>
            </div>
          </div>
        </div>
      </a>
    </div>

    <Alert
      :value="alertMsg"
      :show="alertActive"
      :propStyle="{
        position: 'absolute',
        bottom: '99px',
        left: '20px',
      }"
      @close="handleAlertClose()"
    />

    <PlayNavigation
      @cancel="handleCancel"
      @next="handleNext"
      :disabledNext="isNextDisabled"
      :isFixed="true"
      nextText="Done"
      cancelText="Back"
    >
      <div class="selected-display">
        {{ $t("Selected Card") }}: {{ totalSelected }}
      </div>
    </PlayNavigation>

    <!-- Modal -->
    <Modal :showModal="showModal" @close="handleCancelModal">
      <div v-if="addCard === null">
        <h2 class="title">{{ currentReasonTitle }}</h2>
        <p class="title">{{ $t("Study or focus on a specific topic") }}</p>
        <p class="title2">
          {{
            $t(
              "Tick off from the statements below the reasons why you picked out this card."
            )
          }} <br>
          {{ $t("Select a minimum of 5 and a maximum of 10 reasons.") }}
        </p>

        <div class="reasons">
          <div
            v-for="(item, index) in currentReasons.reason"
            :key="'reason' + index"
          >
            <a
              :class="['check-box-block', { active: isChecked(item) }]"
              @click="handleCheckUncheckReason(item)"
              v-if="!item.card_id_redirection"
            >
              <div class="mark"></div>
              <div class="label">{{ getReasonByLanguage(item) }}</div>
            </a>
            <div v-else>
              <div class="label">
                <strong>{{ $t('Note') }}: {{ getReasonByLanguage(item) }}</strong>
                <a class="view-card" @click="handleAddCard(item.card_id_redirection)">{{ $t('View Card Details') }}</a>
              </div>
            </div>
          </div>
        </div>

        <PlayNavigation
          @cancel="handleCancelModal"
          @next="handleNextModal"
          :disabledNext="isNextDisabledModal"
          :isFixed="false"
          nextText="Submit"
          cancelText="Close"
        />
      </div>
      <div class="modal-card" v-else>
        <div class="mc-card">
          <img :src="require(`@/assets/cards/${addCard.id}.png`)" />
        </div>
        <div class="mc-title">{{ addCard.name_en }}</div>
        <div class="mc-desc">{{ addCard.description_en }}</div>
        <button
          type="button"
          class="btn btn-outline-danger mr-1"
          @click="handleCancel"
        >{{ $t('View card list') }}</button>
        &nbsp;
        <button
            type="button"
            class="btn btn-primary"
            @click="handleAddThisCard"
        >{{ $t('Add this card') }}</button>
      </div>
    </Modal>

    <CloseModal
      :active="closeModalActive"
      head="Wait! You’re assessment is not yet done!"
      desc="If you wish to close it now, you’ll lose all the data and will need to start over again."
      @return="handleReturn()"
      @disregard="handleDisregard()"
    />
  </div>
</template>

<script>
import { CARDS } from "@/utils/cards.ts";
import PlayNavigation from "@/components/play-navigation";
import { mapMutations, mapGetters } from "vuex";
import Modal from "@/components/play-modal";
import Alert from '@/components/alert';
import CloseModal from '@/components/close-modal';

export default {
  data() {
    return {
      cards: CARDS,
      selected: [],
      showModal: false,
      currentReasons: {},
      currentReasonTitle: '',
      currentAnswered: [],
      completed: [],
      alertActive: false,
      alertMsg: '',
      addCard: null,
      maxItem: 8,
      closeModalActive: false,
    };
  },
  components: {
    PlayNavigation,
    Modal,
    Alert,
    CloseModal,
  },
  created() {
    //window.addEventListener('beforeunload', this.pageUnload);
    window.onbeforeunload = function(){
      return false;
    }
  },
  mounted() {
    if (this.getSelectedCards.length <= 0) {
      this.$router.push("/dashboard");
    }
    this.selected = this.getSelectedCards;
    this.completed = this.getSelectedSummaryCards;
  },
  computed: {
    ...mapGetters(["getSelectedCards", "getSelectedSummaryCards", "getActiveLanguage"]),
    totalSelected() {
      return this.selected.length;
    },
    isNextDisabled() {
      return this.selected.length === this.completed.length ? false : true;
    },
    isNextDisabledModal() {
      return this.currentAnswered.length > 4 && this.currentAnswered.length < 11 ? false : true;
    }
  },
  methods: {
    ...mapMutations(["setSelectedSummaryCards","setSelectedAssesmentCards"]),
    isFaceUp(val) {
      return this.currentReasons.id === val.id ? true : false;
    },
    isChecked(val) {
      return this.currentAnswered.find(
        item => item.reason_en === val.reason_en
      );
    },
    isCompleted(val) {
      return this.completed.find(item => item.id === val.id) ? true : false;
    },
    handleOpenCard(val) {
      if (this.isCompleted(val)) {
        const previous = this.completed.find(item => item.id === val.id);
        this.currentAnswered = previous.answers;
      }
      
      if (this.getActiveLanguage === "en") {
        this.currentReasonTitle = val.name_en;
      } else {
        this.currentReasonTitle = val.name_cn;
      }
      this.currentReasons = val;
      this.showModal = true;
    },
    handleCheckUncheckReason(val) {
      if (!this.isChecked(val)) {
        // console.log(this.currentAnswered.length, this.currentAnswered);
        if(this.currentAnswered.length > 9){
          this.alertActive = true;
          this.alertMsg = 'You reached the maximum reason selected';
          return;
        } else {
          this.currentAnswered = [...this.currentAnswered, val];
        }
      } else {
        this.currentAnswered = this.currentAnswered.filter(
          item => item.reason_en !== val.reason_en
        );
      }
    },
    handleCancel() {
      this.closeModalActive = true;
    },
    handleNext() {
      if (!this.isNextDisabled) {
        this.setSelectedSummaryCards(this.completed);
        this.$router.push("/play/card-research");
      }
    },
    handleCancelModal() {
      if(this.addCard === null){
        this.currentReasons = {};
        this.currentAnswered = [];
        this.showModal = false;
      } else {
        this.addCard = null;
      }
    },
    handleNextModal() {
      if (!this.isNextDisabledModal) {
        let newValue = this.currentReasons;
        newValue.answers = this.currentAnswered;
        this.completed = this.completed.filter(
          item => item.id !== this.currentReasons.id
        );
        this.completed = [...this.completed, newValue];
        this.currentAnswered = [];
        this.handleCancelModal();
      }
    },
    getReasonByLanguage(item) {
      if (this.getActiveLanguage === "en") {
        return item.reason_en;
      } else {
        return item.reason_cn;
      }
    },
    handleAlertClose(){
      this.alertActive = false;
    },
    handleAddCard(val){
      if(val === 0){
        this.handleCancel();
      }

      const card = this.cards.find(c => c.id === val);
      if(this.totalSelected >= this.maxItem){
        this.alertActive = true;
        this.alertMsg = 'You reached the maximum card selected';
        return;
      } else if(card){
        this.addCard = card;
      }
    },
    handleAddThisCard(){
      const item = this.selected.find(s => s.id === this.addCard.id);
      if(!item){
        this.selected = [...this.selected, this.addCard];
        this.setSelectedAssesmentCards(this.selected);
      }
      this.addCard = null;
    },
    handleReturn(){
      this.$router.push("/play/card-assessment");
    },
    handleDisregard(){
      this.closeModalActive = false;
    },
  }
};
</script>

<style lang="scss" scope>
.card-parent-summary {
  h2.title {
    margin-top: 24px;
    text-align: center;
    font: normal normal 600 26px/24px Crimson Pro;
    letter-spacing: 0px;
    color: #221e1f;
  }
  p.title {
    max-width: 1199px;
    margin: auto;
    margin-bottom: 15px;
    padding-bottom: 15px;
    text-align: center;
    letter-spacing: 0.22px;
    font-size: 16px;
    font-weight: 600;
    color: #221e1f;
    border-bottom: 1px solid var(--gray);
  }
  p.title2 {
    text-align: center;
    font-size: 16px;
    color: #221e1f;
  }

  .cards-summary {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 935px;
    margin: 0 auto;

    .item {
      width: 165px;
      height: 260px;
      margin: 11px;

      &:hover {
        opacity: 0.7;
      }

      .photo {
        width: 165px;
        height: 220px;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 3px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .completed {
        display: block;
        margin: 16px 0;
        text-align: center;
        font-size: 18px;
        color: var(--blue);
        text-decoration: none;
      }
    }
  }

  .reasons {
    height: 60vh;
    overflow-y: scroll;

    max-width: 1199px;
    margin: auto;
    width: 100%;
    > div {
      float: left;
      width: 50%;
      margin-bottom: 33px;

      .check-box-block {
        display: flex;
        text-decoration: none;
        cursor: pointer;

        .mark {
          min-width: 20px;
          max-width: 20px;
          width: 20px;
          height: 20px;
          margin-top: 2px;
          margin-right: 30px;
          border: 2px solid var(--gray);
          border-radius: 3px;
          background-color: #fff;
        }

        .label {
          font-size: 16px;
          color: #221e1f;
          text-decoration: none;
        }

        &.active {
          .mark {
            position: relative;
            border: 2px solid var(--blue);

            &:after {
              content: "";
              width: 11px;
              height: 7px;
              border: 2px solid var(--blue);
              border-top: none;
              border-right: none;
              position: absolute;
              left: 3px;
              top: 3px;
              transform: rotate(-46deg);
            }
          }
        }
      }
    }
  }

  .view-card {
    color: #00AEEF;
    text-decoration: underline;
  }

  .flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px;
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  .isFaceUp .flip-card .flip-card-inner {
    transform: rotateY(180deg);
  }
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .flip-card-back {
    transform: rotateY(180deg);
  }

  .modal-card {
    padding-top: 110px;
    padding-bottom: 25px;
    text-align: center;

    .mc-card {
      width: 330px;
      height: 429px;
      margin: 0 auto 20px;
      border: 1px solid #707070;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .mc-title {
      font-size: 18px;
      color: #221E1F;
      font-weight: 600;
    }
    .mc-desc {
      margin-bottom: 30px;
      font-size: 16px;
      color: #221E1F;
    }
  }
}
</style>
