<template>
    <div class="card-parent-research">
        <h2 class="title">{{ $t('Result Confirmation') }}</h2>
        <p class="title">{{ $t(`Select one card below for your "Top ${getTopLabel}"`) }}</p>

        <div class="cards-list">
            <div
                :class="[
                    'card-item',
                    { clickable: card.clickable && !isSelectedCard(card) },
                    { active: isActiveCard(card) },
                    { visible: getTopLabelValue === card.topLabel && !isActiveCard(card) },
                    // { visible: true }
                ]"
                v-for="(card, index) in resultCards"
                :key="'card' + index"
            >
                <!--<p class="top">
                    <span>Top {{ getTop3Card(card) }}</span>
                </p>-->
                <div class="card-item-content">
                    <img :src="require(`@/assets/results/${card.number}_${card.names}-front.png`)" />
                    <div class="names">{{ card.names }}</div>
                    <ul class="listing">
                        <li v-for="(li,index) in getCardListing(card.type)" :key="index + 'li'">{{ li }}</li>
                    </ul>
                    <button
                        type="button"
                        class="btn btn-outline-primary button-select"
                         @click="handleAddTopCard(card)"
                    >Select</button>
                </div>
                <a
                    class="remove"
                    v-if="isActiveCard(card)"
                    @click="handleRemoveTopCard(card)"
                >{{ $t('Remove') }}</a>
            </div>
        </div>

        <!--<PlayNavigation
            @cancel="handleCancel"
            @next="handleNext"
            :disabledNext="isNextDisabled"
            :isFixed="true"
            nextText="Done"
            cancelText="Back"
        />-->
    </div>
</template>

<script>
import PlayNavigation from "@/components/play-navigation";
import { mapMutations, mapGetters } from "vuex";
import { SCORES } from "@/utils/cards.ts";

export default {
    components: {
        PlayNavigation,
    },
    data(){
        return {
            selectedCards: [],
            resultCards: [],
            top3Cards: [],
        };
    },
    watch: {
        isNextDisabled(val){
            if(!val && this.top3Cards.length){
                console.log('finished!', this.top3Cards);
                this.handleNext();
            }
        }
    },
    mounted(){
        if(this.getSelectedSummaryCards.length <= 0){
            this.$router.push("/dashboard");
        }
        this.generateResult(this.getSelectedSummaryCards, SCORES);
        if(!this.isNextDisabled && this.top3Cards.length){
            console.log('finished!', this.top3Cards);
           this.handleNext();
        }
    },
    computed: {
        ...mapGetters(["getSelectedSummaryCards","user"]),
        isNextDisabled(){
            // let top3Cards = this.top3Cards.length > 3 ? this.top3Cards.slice(0,3) : this.top3Cards;
            let top3Cards = this.top3Cards;
            let topFlag = false;
            top3Cards.map(t => {
                if(!t.item){
                    topFlag = true;
                }
            });
            return topFlag;
        },
        getTopLabel(){
            let label = '';

            // get starting point
            let starting = 1;
            let flag = 0;
            this.top3Cards.map(top => {
                if(top.item === null && starting === 1 && flag === 0){
                    starting = top.order_no;
                    flag = 1;
                }
            });
            console.log(starting,'sas')
            label = starting;

            for(let i=starting; i<=6; i++){
                const results_total = this.resultCards.filter(res => res.topLabel === i);
                const selected_total = this.selectedCards.filter(sel => sel.topLabel === i);

                if(label === '' && results_total.length > selected_total.length){
                    label = i;
                }
            }

            console.log(starting)
            return label;
        },
        getTopLabelValue(){
            let label = '';

            const unselectedList = this.resultCards.map(res => {
                if(res.clickable){
                    const findRes = this.selectedCards.filter(sel => sel.type === res.type);
                    if(!findRes.length){
                        return res;
                    }
                }
            });

            var cleanUnselected = unselectedList.filter(function (el) {
                return el != null;
            });

            if(cleanUnselected.length){
                label = cleanUnselected[0].topLabel;
            }

            return label;
        },
    },
    methods: {
        ...mapMutations(["resetSelectedAssesmentCards", "resetSelectedSummaryCards"]),
        handleAddTopCard(card){
            if(!card.clickable) return;
            if(this.isSelectedCard(card)) return;
            this.selectedCards = [...this.selectedCards, card];
            this.handleAddTop3Card(card);
        },
        handleRemoveTopCard(card){
            this.selectedCards = this.selectedCards.filter(data => data.number != card.number);
            this.handleRemoveTop3Card(card);
        },
        handleAddTop3Card(card){
            const datas = [...this.top3Cards];
            const item = datas.filter(data => data.total == card.total);
            // const index = datas.indexOf(item);
            // datas[index].item = card;
            // this.top3Cards = datas;

            // count totals
            let item_lenght = 0;
            item.map(sel => {
                if(this.selectedCards.includes(sel.item)){
                    item_lenght++;
                }
            });
            const item_total = item.length - item_lenght;

            // apply
            if(item_total === 2){
                let flag = 0;
                this.top3Cards.map(top => {
                    if(flag === 0 && top.item === null){
                        top.item = card;
                        flag = 1;
                    } else if(flag === 1 && top.item === null){
                        const defferences = this.resultCards.filter(data => data.total == card.total && data != card);
                        let defference = null;
                        defferences.map(sel => {
                            if(defference === null && !this.selectedCards.includes(sel)){
                                defference = sel;
                            }
                        });

                        this.selectedCards = [...this.selectedCards, defference];
                        top.item = defference;
                        flag = 2;
                    }
                });
            } else {
                let flag = 0;
                this.top3Cards.map(top => {
                    if(flag === 0 && top.item === null){
                        top.item = card;
                        flag = 1;
                    }
                });
            }
        },
        handleRemoveTop3Card(card){
            const datas = [...this.top3Cards];
            const item = datas.find(data => data.total == card.total);
            const index = datas.indexOf(item);
            datas[index].item = null;
            this.top3Cards = datas;
        },
        isActiveCard(card){
            return this.selectedCards.find(data => data.number === card.number) ? true : false;
        },
        isSelectedCard(card){
            return this.selectedCards.find(data => data === card) ? true : false;
        },
        getTop3Card(card){
            const topcard = this.top3Cards.find(data => data.item === card);
            if(!topcard) return false;
            if(!topcard.item) return false;
            if(topcard.item === card){
                return topcard.order_no;
            } else {
                return false;
            } 
        },
        handleCancel(){
            this.$router.push("/play/card-summary");
        },
        handleNext(){
            const top3Cards = this.top3Cards.length > 3 ? this.top3Cards.slice(0,3) : this.top3Cards;

            let myTop3Cards = top3Cards.map((t, index) => {
                return {
                    index: index,
                    number: t.item.number, 
                    type: t.item.type,
                    names: t.item.names,
                    total: t.item.total,
                };
            });

            let nextIndex = 3;
            this.resultCards.map(r => {
                const checkExist = myTop3Cards.filter(m => m.type === r.type);
                if(checkExist.length < 1){
                    myTop3Cards.push({
                        index: nextIndex,
                        number: r.number, 
                        type: r.type,
                        names: r.names,
                        total: r.total,
                    });
                    nextIndex++;
                }
            });

            const myResult = {
                user_id: this.user.id,
                result: myTop3Cards,
                picked: this.getSelectedSummaryCards,
            }

            
            this.$http.post("result", myResult).then(
            response => {
                console.log(response.body);
                this.resetSelectedAssesmentCards();
                this.resetSelectedSummaryCards();
                this.$router.push("/play/card-result/" + response.body);
            },
            error => {
                console.log('error', error);
                this.loading = false;
            }
        );
        },
        generateResult(cards, result){
            let all_answers = [];
            let results = result;
            let group = [];
            let withids = [];

            // get all numbers
            cards.map(card => {
                card.answers.map(item => {
                    if(typeof item.type === "number"){
                        all_answers = [...all_answers, item.type];
                    } else {
                        all_answers = [...all_answers, ...item.type];
                    }
                });
            });

            // total all numbers
            all_answers.map(type => {
                if(type !== 0){
                    const item = results.find(data => data.type == type);
                    const index = results.indexOf(item);

                    if(results[index].total){
                        results[index].total++;
                    } else {
                        results[index].total = 1;
                    }
                }
            });

            // remove with zero totals
            const removed_zero_results = results.filter(r => r.total >= 1);

            // sort 
            const sorted_results = removed_zero_results.sort((a, b) => {
                if (a.total > b.total) return -1
                return a.total < b.total ? 1 : 0
            });

            // slice 6 item
            const sliced_results = sorted_results.length <= 6 ? sorted_results : sorted_results.slice(0,6)

            // group
            sliced_results.map(r => {
                const item = group.find(data => data.total == r.total);
                if(!item){
                    group.push({
                        total: r.total,
                        items: [r],
                        topLabel: 0,
                    });
                } else {
                    const index = group.indexOf(item);
                    group[index].items = [...group[index].items, r];
                }
            });

            // add same total and clickable / and top item
            console.log(group,'group');
            let top_label_index = 0;
            let order_no_index = 0;
            group.map((r, index) => {
                let top_item = null;
                top_label_index++;
                if(r.items.length === 1){
                    order_no_index++;
                    r.items[0].total_same_value = 0;
                    r.items[0].clickable = false;
                    r.items[0].topLabel = top_label_index;
                    withids.push(r.items[0]);

                    top_item = r.items[0];

                    this.top3Cards.push({
                        order_no: order_no_index,
                        total: r.total,
                        item: top_item
                    });

                } else {
                    r.items.map(item => {
                        order_no_index++;
                        item.total_same_value = r.items.length;
                        item.clickable = true;
                        item.topLabel = top_label_index;
                        withids.push(item);

                        this.top3Cards.push({
                            order_no: order_no_index,
                            total: r.total,
                            item: null
                        });
                    });
                }
            });

            console.log(this.top3Cards,'top3Cards');
            console.log(withids,'resultCards')
            
            this.resultCards = withids;
        },
        getCardListing(type){
            const item = SCORES.find(score => score.type === type);
            return item.listings;
        }
    },
};
</script>

<style lang="scss" scoped>
.card-parent-research {
  h2.title {
    margin-top: 24px;
    padding-bottom: 15px;
    text-align: center;
    font: normal normal 600 26px/24px Crimson Pro;
    letter-spacing: 0px;
    color: #221e1f;
    border-bottom: 1px solid var(--gray);
  }
  p.title {
    max-width: 1199px;
    margin: auto;
    margin-bottom: 15px;
    padding-bottom: 15px;
    text-align: center;
    letter-spacing: 0.22px;
    font-size: 16px;
    font-weight: 600;
    color: #221e1f;
  }
  p.title2 {
    text-align: center;
    font-size: 16px;
    color: #221e1f;
  }

  .cards-list {
      display: flex;
      justify-content: center;
      align-content: center;
      .card-item {
        width: 224px;
        margin: 5px;
        padding: 20px;
        text-align: center;
        border: 1px solid #b8b8b8;
        display: none;

        .top {
            height: 33px;
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: bold;
            color: #221E1F;
            text-align: center;
        }

        .remove {
            display: block;
            margin-top: 10px;
            color: #FF6868;
            font-size: 18px;
            font-weight: bold;
        }

        .card-item-content {
            overflow: hidden;
            text-align: center;

            img {
                width: 100%;
                height: 220px;
            }

            .names {
                color: #221E1F;
                font-size: 18px;
                font-weight: 600;
                margin: 5px  0 ;
            }

            .listing {
                list-style: inside;
                padding-left: 20px !important;
                margin-bottom: 10px !important;
                li {
                    color: #221E1F;
                    font-size: 14px;
                    text-align: left;
                }
            }
        }

        /*--
        &.clickable {
             .card-item-content {
                cursor: pointer;
                &:hover {
                    outline: 3px solid #00AEEF;
                }
            }
        }
        */
        .button-select {
            display: none;
                margin: auto;
        }

        &.clickable {
            .button-select {
                display: block;
            }
        }
        &.visible {
            display: block;
        }
        /*
        &.active {
            .card-item-content {
                outline: 3px solid #00AEEF;
            }
        }
        */
      }
  }

  



}
</style>