<template>
  <div class="card-parent-assessment">
    <!-- <div>
      <button @click="handleCar('one')">One by One</button>
      <button @click="handleCar('spread')">Spread out</button>
    </div> -->
    <div class="closing-header">
      <a class="close" @click="handleCancel"></a>
    </div>
    <h2 class="title">{{ $t("Card Assessment") }}</h2>
    <p class="title">
      {{
        $t(
          "Pick a card that represents you or your hobbies. You can only select maximum of 8 cards"
        )
      }}
    </p>

    <div class="tab-content" v-if="!slider">
      <OneByOne
        :cards="cards"
        :selected="selected"
        @removeItem="addRemoveItem"
      />
    </div>
    <div class="tab-content" v-else>
      <SpreadOut
        :cards="cards"
        :selected="selected"
        @removeItem="addRemoveItem"
      />
    </div>

    <div class="tabulation-slider">
      <div :class="['tab', { active: slider }]" @click="slider = true">
        {{ $t("Spread out") }}
      </div>
      <div :class="['tab', { active: !slider }]" @click="slider = false">
        {{ $t("One by One") }}
      </div>
    </div>

    <Alert
      value="You reached the maximum card selected"
      :show="alertActive"
      :propStyle="{
        position: 'fixed',
        bottom: '99px',
        left: '20px'
      }"
      @close="handleAlertClose()"
    />

    <PlayNavigation
      @cancel="handleCancel"
      @next="handleNext"
      :disabledNext="isNextDisabled"
      :isFixed="true"
    >
      <div class="selected-display">
        {{ $t("Selected Card") }}: {{ totalSelected }}
      </div>
    </PlayNavigation>

    <!-- Modal -->
    <Modal :showModal="showModal" @close="handleCancelModal">
      <h2 class="title">{{ $t("Card Summary") }}</h2>
      <div class="cards-summary">
        <div
          class="item"
          v-for="(item, index) in selected"
          :key="'item' + index"
        >
          <div class="photo">
            <img :src="require(`@/assets/cards/${item.id}.png`)" />
          </div>
          <a @click="addRemoveItem(item)">{{ $t("Remove") }}</a>
        </div>
      </div>
      <PlayNavigation
        @cancel="handleCancelModal"
        @next="handleNextModal"
        :disabledNext="isNextDisabled"
        :isFixed="false"
      />
    </Modal>

    <CloseModal
      :active="closeModalActive"
      head="Are you sure you close your assessment?"
      desc="If you proceed, you will lose all the data on your assessment and this will be deducted to your attempts"
      @return="handleReturn()"
      @disregard="handleDisregard()"
    />
  </div>
</template>

<script>
import { CARDS } from "@/utils/cards.ts";
import PlayNavigation from "@/components/play-navigation";
import { mapMutations, mapGetters } from "vuex";
import Modal from "@/components/play-modal";
import Alert from "@/components/alert";
import CloseModal from '@/components/close-modal';
import OneByOne from './card-assesment-tab/one-by-one';
import SpreadOut from './card-assesment-tab/spread-out';

export default {
  data() {
    return {
      cards: CARDS,
      selected: [],
      minItem: 6,
      maxItem: 8,
      showModal: false,
      alertActive: false,
      slider: false,
      closeModalActive: false,
    };
  },
  components: {
    PlayNavigation,
    Modal,
    Alert,
    CloseModal,
    OneByOne,
    SpreadOut,
  },
  created() {
    window.onbeforeunload = function(){
      return false;
    }
  },
  mounted() {
    this.selected = this.getSelectedCards;

    //shuffle cards
    this.shuffleArray(this.cards);
  },
  computed: {
    ...mapGetters(["getSelectedCards"]),
    totalSelected() {
      return this.selected.length;
    },
    isNextDisabled() {
      return this.totalSelected >= this.minItem &&
        this.totalSelected <= this.maxItem
        ? false
        : true;
    },
  },
  methods: {
    ...mapMutations(["setSelectedAssesmentCards", "resetSelectedSummaryCards"]),
    isSelected(val) {
      return this.selected.find(item => item.id === val.id);
    },
    addRemoveItem(val) {
      if (!this.isSelected(val)) {
        if (this.totalSelected < this.maxItem) {
          this.selected = [...this.selected, val];
        } else {
          this.alertActive = true;
          return;
        }
      } else {
        this.selected = this.selected.filter(item => item.id !== val.id);
      }
    },
    handleCancel() {
      // this.$router.push("/dashboard");
      this.closeModalActive = true;
    },
    handleNext() {
      if (!this.isNextDisabled) {
        this.showModal = true;
      }
    },
    handleCancelModal() {
      this.showModal = false;
    },
    handleNextModal() {
      this.setSelectedAssesmentCards(this.selected);
      this.resetSelectedSummaryCards();
      this.$router.push("/play/card-summary");
    },
    handleAlertClose(){
      this.alertActive = false;
    },
    // handleCar(t) {
    //   console.log(t);
    //   if (t == "one") this.slider = true;
    //   else if (t == "spread") this.slider = false;
    // }
    handleReturn(){
      this.$router.push("/dashboard");
    },
    handleDisregard(){
      this.closeModalActive = false;
    },
    shuffleArray(array) {
      for (let i = array.length - 1; i > 0; i--) {
          const j = Math.floor(Math.random() * (i + 1));
          [array[i], array[j]] = [array[j], array[i]];
      }
    }
  }
};
</script>

<style lang="scss" scope>
.card-parent-assessment {
  h2.title {
    margin-top: 24px;
    text-align: center;
    font: normal normal 600 26px/24px Crimson Pro;
    letter-spacing: 0px;
    color: #221e1f;
  }
  p.title {
    text-align: center;
    font: normal normal normal 14px/20px Source Sans Pro;
    letter-spacing: 0.22px;
    color: #221e1f;
  }

  .cards {
    

    
  }

  .selected-display {
    padding-top: 10px;
    text-decoration: underline;
    font-size: 18px;
    font-weight: 600;
    color: #221e1f;
  }

  .cards-summary {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 935px;
    margin: 0 auto;

    .item {
      width: 165px;
      margin: 11px;

      .photo {
        width: 165px;
        height: 220px;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 3px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      a {
        display: block;
        margin: 16px 0;
        text-align: center;
        font-weight: 600;
        font-size: 18px;
        color: #ff6868;
        text-decoration: underline;
      }
    }
  }

  .tabulation-slider {
    position: fixed;
    left: -67px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 208px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 3px;
    transform: rotate(-90deg);
    background-color: #fff;

    .tab {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 104px;
      height: 40px;
      cursor: pointer;

      &.active {
        background-color: #00aeef;
        color: #fff;
      }
    }
  }
}
</style>
