<template>
  <div class="header">
    <div>
      <b-navbar sticky toggleable="lg" v-b-scrollspy>
        <router-link class="navbar-brand logo_sp" to="/">Logo</router-link>
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav class="floating_nav">
          <b-navbar-nav>
            <b-nav-item class="navbar-brand logo_pc" to="/">Logo</b-nav-item>
          </b-navbar-nav>
          <b-navbar-nav class="mb-2 mb-lg-0">
            <b-nav-item to="/">{{ $t("Home") }}</b-nav-item>
            <!-- <b-nav-item to="#about_us" @click.native="anchorHashCheck"
              >About Us</b-nav-item
            > -->
            <li class="nav-item">
              <router-link
                :to="{ path: '/', hash: '#about_us' }"
                @click.native="anchorHashCheck"
                class="nav-link"
                target="_self"
                >{{ $t("About Us") }}</router-link
              >
            </li>
            <li class="nav-item">
              <router-link
                :to="{ path: '/', hash: '#howitworks' }"
                @click.native="anchorHashCheck"
                class="nav-link"
                target="_self"
                >{{ $t("How it Works") }}</router-link
              >
            </li>
            <li class="nav-item">
              <router-link
                :to="{ path: '/', hash: '#contact_us' }"
                @click.native="anchorHashCheck"
                class="nav-link"
                target="_self"
                >{{ $t("Contact Us") }}</router-link
              >
            </li>
            <!-- <b-nav-item to="#howitworks" @click.native="anchorHashCheck"
              >How it Works') }}</b-nav-item
            >
            <b-nav-item to="#contact_us" @click.native="anchorHashCheck"
              >{{ $t('Contact Us') }}</b-nav-item
            > -->
          </b-navbar-nav>

          <!-- Right aligned nav items -->
          <div class="d-flex right_head">
            <b-navbar-nav class=" navbar-nav mb-2 mb-lg-0">
              <b-nav-item
                class="colored_btn"
                :class="[
                  $mq === 'mobile'
                    ? 'btn_blue color_white'
                    : 'btn_brdr_blue color_blue'
                ]"
                to="/login"
                >{{ $t("Sign In") }}</b-nav-item
              >
              <b-nav-item
                class="colored_btn btn_blue color_white _pc white-space-no"
                :class="[$mq === 'mobile' ? 'd-none' : '']"
                to="/register"
                >{{ $t("Get Started") }}</b-nav-item
              >
            </b-navbar-nav>
          </div>
        </b-collapse>
      </b-navbar>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
import { Helpers } from "@/utils/helpers.ts";
export default {
  ...mapGetters(["user"]),
  mounted: function() {
    this.anchorHashCheck();
  },

  methods: {
    anchorHashCheck() {
      const h = this.$route.hash;
      Helpers.anchorHashCheck(h);
    }
  }
};
</script>

<style lang="scss" scope>
.header {
  width: 100%;
  height: 100%;
  a {
    text-decoration: none;
  }
  .navbar {
    max-width: 1140px;
    margin: auto;
    @include media-breakpoint-down(lg) {
      padding: 0.5rem;
      &-toggler {
        border: unset;
        &:focus-visible,
        &:focus {
          outline-width: 0;
          outline: none;
          box-shadow: none;
        }
      }
    }
    &-brand {
      color: #707070;
      font-size: 20px;
      border: 1px solid#707070;
    }
  }
  .navbar-light .navbar-nav .nav-link {
    color: #221e1f;
    font-weight: 600;
    @include media-breakpoint-down(lg) {
      text-align: center;
    }
  }
  .nav-item {
    @include media-breakpoint-down(lg) {
      display: block;
      width: 100%;
    }
    &.color_white {
      a {
        color: var(--white) !important;
      }
    }
    &.color_blue {
      a {
        color: var(--blue) !important;
      }
    }
  }
  .navbar-collapse {
    justify-content: space-between;
    // margin: 0 118px;
  }
  .right_head {
    .nav-item:first-child {
      margin-right: 10px;
      @include media-breakpoint-down(lg) {
        margin: auto;
      }
    }
    .navbar-nav {
      @include media-breakpoint-down(lg) {
        width: 100%;
      }
    }
  }
  // .navbar-brand a {
  //   padding: 0 !important;
  // }
  .logo_pc {
    display: block;
    a {
      display: block;
      padding: 5px 70px !important;
      color: #707070 !important;
    }
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
  .logo_sp {
    display: none;
    a {
      color: #707070 !important;
    }
    @include media-breakpoint-down(lg) {
      display: block;
      padding: 0.5em;
      border: unset;
    }
  }
}
</style>
