<template>
    <div>
        <Header v-if="!isLogged"/>
        <UserMenu v-else/>
    </div>
</template>

<script>
import Header from './header';
import UserMenu from './user-menu';
import { Helpers } from '@/utils/helpers.ts';

export default {
    components: {
        Header,
        UserMenu,
    },
    computed: {
        isLogged(){
            return Helpers.isUserLogged();
        }
    }
}
</script>