<template>
  <div class="userMenu">
    <b-navbar sticky toggleable="lg" type="light" v-b-scrollspy>
      <router-link class="navbar-brand logo_sp" to="/">Logo</router-link>
      <a
        class="take_test_sp _sp"
        @click="handleTakeATest()"
        >{{ $t("Take a Test") }}</a
      >
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse
        id="nav-collapse"
        class=" justify-content-between floating_nav"
        is-nav
      >
        <b-navbar-nav class="mb-2 mb-lg-0 align-items-center">
          <b-nav-item class="navbar-brand logo_pc" to="/dashboard">Logo</b-nav-item>
          <b-nav-item to="/dashboard">{{ $t("Home") }}</b-nav-item>
          <!-- <b-nav-item to="/#about_us" class="_sp">About us</b-nav-item> -->
          <li class="nav-item _sp">
            <router-link
              class="_sp nav-link"
              :to="{ path: '/', hash: '#about_us' }"
              @click.native="anchorHashCheck"
              >{{ $t("About Us") }}</router-link
            >
          </li>
          <li class="nav-item _sp">
            <router-link
              class="_sp nav-link"
              :to="{ path: '/', hash: '#howitworks' }"
              @click.native="anchorHashCheck"
              >{{ $t("How it Works") }}</router-link
            >
          </li>
          <!-- <b-nav-item to="/#howitworks" class="_sp">How it Works</b-nav-item> -->
          <!-- <b-nav-item to="/#contact_us" class="_sp nav_border_bottom"
            >Contact Us</b-nav-item
          > -->
          <li class="nav-item _sp nav_border_bottom">
            <router-link
              class="_sp nav-link"
              :to="{ path: '/', hash: '#contact_us' }"
              @click.native="anchorHashCheck"
              >{{ $t("Contact Us") }}</router-link
            >
          </li>
          <b-nav-item to="/account" class="_sp">{{ $t("Profile") }}</b-nav-item>
          <b-nav-item to="/result">{{ $t("Result") }}</b-nav-item>
          <b-nav-item
            to="#"
            @click="handleLogout"
            class="_sp"
            :class="[
              $mq === 'mobile' ? 'colored_btn btn_blue color_white' : ''
            ]"
            >{{ $t("Log Out") }}</b-nav-item
          >
        </b-navbar-nav>

        <div
          class="d-flex right_head"
          :class="[$mq === 'mobile' ? 'd-none' : '']"
        >
          <b-navbar-nav class="mb-2 mb-lg-0 _pc">
            <a
              class="take_test _pc"
              @click="handleTakeATest()"
              >{{ $t("Take a Test") }}</a
            >
            <b-nav-item-dropdown
              right
              id="user_dropdown"
              :text="this.user.username.slice(0, 1)"
            >
              <b-dropdown-item to="/account">{{
                $t("Account")
              }}</b-dropdown-item>
              <!-- <b-dropdown-item :to="{ path: '/', hash: '#howitworks' }"
                >How it Works</b-dropdown-item
              > -->
              <li role="presentation">
                <router-link
                  class="dropdown-item"
                  :to="{ path: '/', hash: '#howitworks' }"
                  @click.native="anchorHashCheck"
                  role="menuitem"
                  target="_self"
                  >{{ $t("How it Works") }}</router-link
                >
              </li>
              <!-- <b-dropdown-item :to="{ path: '/', hash: '#contact_us' }"
                >Contact Us</b-dropdown-item
              > -->
              <li role="presentation">
                <router-link
                  class="dropdown-item"
                  :to="{ path: '/', hash: '#contact_us' }"
                  @click.native="anchorHashCheck"
                  role="menuitem"
                  target="_self"
                  >{{ $t("Contact Us") }}</router-link
                >
              </li>
              <b-dropdown-item to="#" @click="handleLogout">{{
                $t("Log Out")
              }}</b-dropdown-item>
            </b-nav-item-dropdown>
          </b-navbar-nav>
        </div>
      </b-collapse>
    </b-navbar>

    <Alert
      value="You don't have takes left."
      :show="alertActive"
      :propStyle="{
        position: 'fixed',
        top: '10px',
        left: '0px',
        right: '0px',
        margin: 'auto',
      }"
      @close="handleAlertClose()"
    />
  </div>
</template>

<script>
import { mapMutations, mapGetters } from "vuex";
import { Helpers } from "@/utils/helpers.ts";
import Alert from "@/components/alert";

export default {
  data() {
    return {
      alertActive: false,
      takes_left: 0,
    };
  },
  components: {
    Alert,
  },
  computed: {
    ...mapGetters(["user"])
  },
  mounted: function() {
    this.anchorHashCheck();
    this.getSubscribe();
  },
  methods: {
    ...mapMutations(["logoutUser", "resetSelectedAssesmentCards"]),
    handleLogout() {
      this.logoutUser();
      if (this.$route.path !== "/") {
        this.$router.push("/");
      }
    },
    handleTakeATest() {
      if(this.takes_left <= 0){
        this.alertActive = true;
        return ;
      }
      
      this.resetSelectedAssesmentCards();
      this.$router.push("/play/card-assessment");
    },
    scrollFix: function(hashbang) {
      location.hash = hashbang;
    },
    anchorHashCheck() {
      const h = this.$route.hash;
      Helpers.anchorHashCheck(h);
    },
    handleAlertClose(){
      this.alertActive = false;
    },
    getSubscribe(){
      this.$http.get("plans/is_subscribed/" + this.user.id).then(
        response => {
          const plan = response.body.plan[0];
          const data = response.body.data[0];
          this.takes_left = data.current_takes;
        },
        error => {}
      );
    }
  }
};
</script>

<style lang="scss" scope>
.userMenu {
  width: 100%;
  height: 100%;
  a {
    text-decoration: none;
  }

  .navbar {
    max-width: 1140px;
    margin: auto;
    @media (max-width: 1139px) {
      max-width: unset;
      margin: auto;
      padding: 0.5em 1em;
    }
    @include media-breakpoint-down(lg) {
      padding: 0.5rem;
      &-toggler {
        border: unset;
        &:focus-visible,
        &:focus {
          outline-width: 0;
          outline: none;
          box-shadow: none;
        }
      }
    }
    &-brand {
      display: block;
      color: #707070;
      font-size: 20px;
      padding: 10px 70px;
      border: 1px solid#707070;
    }
    &-nav {
      @include media-breakpoint-down(lg) {
        width: 100%;
      }
    }
    .nav-item:not(.logo_pc) {
      @include media-breakpoint-down(lg) {
        display: block;
        width: 100%;
      }
      &.nav_border_bottom {
        border-bottom: 1px solid var(--blue);
      }
      &.color_white {
        a {
          color: var(--white) !important;
        }
      }
      &.color_blue {
        a {
          color: var(--blue) !important;
        }
      }
    }
    .nav-link {
      color: #221e1f;
      font-weight: 600;
      @include media-breakpoint-down(lg) {
        text-align: center;
      }
    }
  }
  .navbar #navbarSupportedContent {
    justify-content: space-between;
    // margin: 0 118px;
  }
  .right_head {
    .nav-item:first-child {
      margin-right: 2em;
    }
    ul {
      justify-content: center;
      align-items: center;
      #user_dropdown {
        &:focus-visible {
          outline-width: 0;
        }
        a {
          &:focus-visible {
            outline-width: 0;
          }
        }
        a.dropdown-item {
          a {
            color: #a6a7ad;
            display: block;
          }
          &:hover {
            background-color: #00aeef2b;
            a {
              color: var(--blue);
            }
          }
        }
        &__BV_toggle_ span {
          display: inline-flex;
          max-height: 46px;
          height: 46px;
          width: 46px;
          border-radius: 4em;
          color: #fff;
          background-color: #45b171;
          border-color: unset;
          justify-content: center;
          align-items: center;
          text-transform: capitalize;
          &:after {
            margin-left: 1.5em;
            border-top: 0.3em solid #000;
            vertical-align: middle;
          }
        }
      }
    }
  }
  .take_test {
    background-color: #fff;
    color: var(--blue) !important;
    border: 1px solid var(--blue);
    font-weight: 700 !important;
    display: flex !important;
    height: 46px;
    padding: 1em !important;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .take_test_sp {
    @include media-breakpoint-down(lg) {
      background-color: #fff;
      color: var(--blue) !important;
      border: 1px solid var(--blue);
      font-weight: 700 !important;
      display: flex !important;
      height: 46px;
      padding: 1em !important;
      border-radius: 4px;
      justify-content: center;
      align-items: center;
      margin: 0 0 0 auto;
    }
  }
  .navbar-brand a {
    padding: 0 !important;
  }
  .logo_pc {
    display: block;
    a {
      color: #707070 !important;
    }
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
  .logo_sp {
    display: none;
    a {
      color: #707070 !important;
    }
    @include media-breakpoint-down(lg) {
      display: block;
      padding: 0.5em;
      border: unset;
    }
  }
}
</style>
