<template>
  <div class="modal_founder">
    <!-- <div class="d-flex justify-content-center"> -->
    <div class="cont">
      <div class="cont_row">
        <div class="cont_col w30">
          <img :src="founder.img" alt="" />
        </div>
        <div class="cont_col w70 p-3">
          <h2 class="text=center">{{ founder.name }}</h2>
          <h3>{{ founder.role }}</h3>
          <div class="cont_row">
            <div class="cont_col w50 pr-3">
              <div class="education">
                <h4>Education</h4>
                <p>{{ founder.education }}</p>
              </div>
              <div class="current_position">
                <h4>Current position</h4>
                <p>{{ founder.current_position }}</p>
              </div>
              <div class="certificate">
                <h4>Certificate</h4>
                <p class="break-spaces">{{ founder.certificate_1 }}</p>
              </div>
              <div class="publication">
                <h4 v-if="founder.publication_1">Publication</h4>
                <p class="break-spaces">{{ founder.publication_1 }}</p>
              </div>
            </div>
            <div class="cont_col w50">
              <div class="continuation">
                <p v-if="founder.certificate_2" class="break-spaces">{{ founder.certificate_2 }}</p>
                <div class="publication_2">
                  <h4 v-if="founder.certificate_2">Publication</h4>
                  <p v-if="founder.publication_2" class="break-spaces">{{ founder.publication_2 }}</p>
                </div>
              </div>
              <div class="work">
                <h4>Work Experience</h4>
                <p class="break-spaces">{{ founder.work }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>
</template>

<script>
// Component for about us section
export default {
  props: {
    founder: []
  },
  data() {
    return {};
  },
  mounted() {
    console.log(this.founder);
  }
};
</script>

<style lang="scss" scope>
.modal_founder {
  font-size: 14px;
  h2 {
    font-size: 24px;
    color: #45b171;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 14px;
    color: #45b171;
  }
  .w30 {
    width: 30%;
  }
  .w70 {
    width: 70%;
  }
  .w50 {
    width: 50%;
  }
  img {
    width: 100%;
  }

  .cont {
    &_row {
      overflow: hidden;
    }
    &_col {
      float: left;
    }
  }
}
.pr-3 {
  padding-right: 1rem;
  box-sizing: border-box;
}
</style>
