<template>
    <div class="calert" :style="propStyle" v-if="show">
        <div class="text">
            {{ $t(value) }}
        </div>
        <a class="close" @click="$emit('close')">

        </a>
    </div>
</template>

<script>
// Component for alert popup in game
export default {
    props: {
        show: {
            // `'true'` / `'false'`
            type: Boolean,
            // The default value is: `false`
            default: false,
        },
        value: {
            type: String,
            // The default value is: ``
            default: '',
        },
        propStyle: {
            type: Object,
            // The default value is: `{}`
            default: {},
        }
    },
    watch: {
        show(val){
            if(val){
                setTimeout(() => {
                    this.$emit('close');
                }, 3000);
            }
        },
    },
}
</script>

<style lang="scss" scope>
.calert {
    display: flex;
    align-items: center;
    width: max-content;
    height: 50px;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: #45B171;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    z-index: 999999999;

    .text {
        display: flex;
        justify-content: center;
        text-align: center;
        color: #fff;
        margin: 0 10px 0 0;
    }
    .close {
        position: relative;
        right: 0;
        top: 0;
        width: 15px;
        height: 15px;
        background-size: contain;
    }
}
</style>