<template>
    <div class="cm" v-if="active">
        <div class="cm-container">
            <h2>{{ $t(head) }}</h2>
            <p>{{ $t(desc) }}</p>
            <div class="buts">
                <button type="button" class="btn btn-outline-danger" @click="handleReturn()">Return</button>
                &nbsp;
                <button type="button" class="btn btn-primary" @click="handleDisregard()">Disregard</button>
            </div>
        </div>
    </div>
</template>

<script>
// Component for alert option modal on closing the game
export default {
    props: {
        active: {
            // `'true'` / `'false'`
            type: Boolean,
            // The default value is: `true`
            default: true,
        },
        head: {
            type: String,
            // The default value is: `Wait! You’re assessment is not yet done!`
            default: 'Wait! You’re assessment is not yet done!'
        },
        desc: {
            type: String,
            // The default value is: `If you wish to close it now, you’ll lose all the data and will need to start over again.`
            default: 'If you wish to close it now, you’ll lose all the data and will need to start over again.'
        }
    },
    methods: {
        handleReturn(){
            this.$emit('return');
        },
        handleDisregard(){
            this.$emit('disregard');
        }
    }
}
</script>

<style lang="scss" scope>
.cm {
    background-color: #ffffffe8;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9;

    .cm-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 400px;
        height: 288px;
        margin: auto;
        padding: 89px 21px 21px;
        box-sizing: border-box;
        text-align: center;
        background-color: #fff;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 5px;

        h2 {
            margin: 0 0 28px 0;
            color: #00AEEF;
            font-size: 20px;
        }

        p {
            margin: 0 0 40px 0;
            color: #221E1F;
            font-size: 14px;
        }
    }
}

</style>