<template>
  <div class="footer">
    <div class="upperfooter">
      <div class="container-fluid">
        <div class="logo _sp m-auto mb-4"><h4>LOGO</h4></div>
        <div class="row" :class="[$mq === 'mobile' ? 'flex-column' : '']">
          <div
            class="col d-flex"
            :class="[$mq === 'mobile' ? 'justify-content-between mb-4' : '']"
          >
            <div class="logo _pc"><h4>LOGO</h4></div>
            <div class="language">
              {{ $t("Language") }} -
              <select
                name="language"
                id="language"
                v-model="selectedLanguage"
                @click="handleSetActiveLanguage"
              >
                <option
                  :value="language.id"
                  v-for="language in languages"
                  :key="language.id"
                >
                  {{ language.lang }}
                </option>
              </select>
            </div>
            <div class="currencies">
              {{ $t("Currency") }} -
              <select name="currencies" id="currencies" :model="currencies">
                <option
                  :value="currency.text"
                  v-for="currency in currencies"
                  :key="currency.id"
                >
                  {{ currency.text }}
                </option>
              </select>
            </div>
          </div>
          <div
            class="col d-flex"
            :class="[$mq === 'mobile' ? 'justify-content-center' : '']"
          >
            <div class="fb">
              <a href="#"
                ><img src="./../assets/facebook.svg" alt="facebook"
              /></a>
            </div>
            <div class="twitter">
              <a href="#"><img src="./../assets/twitter.svg" alt="twitter"/></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="lowerfooter">
      <div class="container-fluid">
        <div class="row" :class="[$mq === 'mobile' ? 'flex-column' : '']">
          <div
            class="col d-flex"
            :class="[
              $mq === 'mobile'
                ? 'order-2  justify-content-center mb-2 mt-2'
                : ''
            ]"
          >
            <p>Copyright &copy; 2021 Company Name. All Rights Reserved.</p>
          </div>
          <div
            class="col d-flex"
            :class="[
              $mq === 'mobile' ? 'order-1 mb-2 mt-2 justify-content-around' : ''
            ]"
          >
            <router-link to="/terms-and-condition"
              >Terms and Condition</router-link
            >
            <router-link to="/privacy-policy">Privacy Policy</router-link>
            <router-link to="/cookies">Cookies</router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
// Component for page footer
export default {
  data() {
    return {
      selectedLanguage: "en",
      languages: [
        { lang: "English", id: "en" },
        { lang: "Chinese", id: "cn" }
      ],
      currencies: [
        { text: "HKD", id: "hkd" },
        // { text: "USD", id: "usd" }
      ]
    };
  },
  mounted() {
    this.selectedLanguage = this.getActiveLanguage;
  },
  computed: {
    ...mapGetters(["getActiveLanguage"])
  },
  methods: {
    // @vuese
    ...mapMutations(["setActiveLanguage"]),
    handleSetActiveLanguage(event) {
      // Fires when user change language on select dropdown
      const id = event.target.value;
      this.selectedLanguage = id;
      this.$i18n.set(id);
      this.setActiveLanguage(id);
    }
  }
};
</script>

<style lang="scss" scope>
.footer {
  color: #ffffff;

  .upperfooter {
    background: var(--blue);
    .container-fluid {
      padding: 1em 2em !important;
      margin-bottom: 1px;
      .logo {
        width: 138px;
        height: 38px;
        background: #fff;
        color: #ababab;
        h4 {
          text-align: center;
          margin: 0;
          line-height: 38px;
        }
      }
      > .row {
        .col {
          &:first-child {
            align-items: center;
            div {
              margin-right: 2em;
              @include media-breakpoint-down(lg) {
                margin-right: 0;
              }
              select {
                border: unset;
                background: var(--blue);
                width: auto;
                color: #fff;
                &:focus-visible {
                  outline-width: 0;
                }
              }
            }
          }
          &:nth-child(2) {
            align-items: center;
            justify-content: flex-end;
            div {
              margin-left: 1em;
            }
          }
        }
      }
    }
  }
  .lowerfooter {
    background: var(--blue);
    font-size: 0.75em;
    .container-fluid {
      padding: 1em 2em !important;
      p {
        margin: 0;
      }

      .col {
        align-items: center;
        &:nth-child(2) {
          justify-content: flex-end;
          a {
            color: #fff;
            margin-left: 2em;
            @include media-breakpoint-down(lg) {
              margin-left: unset;
            }
          }
        }
      }
    }
  }
}
</style>
