<template>
    <div class="loader" v-if="loading">
        <svg viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" :width="size" :height="size" :stroke="stroke">
            <g fill="none" fill-rule="evenodd">
                <g transform="translate(1 1)" stroke-width="2">
                    <circle stroke-opacity=".25" cx="18" cy="18" r="18"></circle>
                    <path d="M36 18c0-9.94-8.06-18-18-18">
                        <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.8s" repeatCount="indefinite"></animateTransform>
                    </path>
                </g>
            </g>
        </svg>
    </div>
</template>

<script>
// Component for page loader
export default {
    props: {
        loading: {
             // `'true'` / `'false'`
            type: Boolean,
            // The default value is: `false`
            default: false,
        },
        size: {
            type: Number,
            // The default value is: `128`
            default: 128,
        },
        stroke: {
            type: String,
            // The default value is: `#007bff`
            default: '#007bff'
        }
    }
}
</script>

<style lang="scss" scope>
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #ffffff96;;
    z-index: 999;
}
</style>