<template>
    <div ref="paypal"></div>
</template>

<script>
import 'regenerator-runtime/runtime';
// Component for paypal button
export default {
    props: {
        plans: {
            type: [String, Object],
            default: {
                id: 0,
                plan_id: '',
                total_months: 0,
                hkd: 1,
                length_description: '',
                plan_description: '',
            },
        },
    },
    data(){
        return{
            appended: false,
            loaded: false,
            loading: false,
            paidFor: false,
        }
    },
    mounted(){
        let init = setInterval(() => {
            if(!this.appended && this.plans !== ''){
                this.appended = true;
                const script = document.createElement('script');
                script.src = "https://www.paypal.com/sdk/js?client-id=AYZ4j3AsQu6HTW--3r-xLadOcugbTZx6kBFn-nl0jPjnbJuvLBmfcfaRQpHnpZcQw54hpJ81hrXsewgU&currency=HKD";
                script.addEventListener("load", this.setLoaded);
                document.body.appendChild(script);
                clearInterval(init);
            }
        }, 1000);
        
    },
    methods: {
        // @vuese
        setLoaded(resp){
            // Function method fire when paypal config button is loaded
            this.loaded = true;
            window.paypal.Buttons({
                createOrder: (data, actions) => {
                    return actions.order.create({
                    purchase_units: [
                        {
                            description: this.plans.length_description,
                            amount: {
                                currency_code: "HKD",
                                value: this.plans.hkd,
                            }
                        }
                    ]
                    });
                },
                onApprove: async (data, actions, resp) => {
                    this.loading = true;
                    const order = await actions.order.capture();
                    this.paidFor = true;
                    this.loadding = false;

                    console.log('success', order);
                    window.location.href = "/payment-success";
                },
                onError: err => {
                        console.log(err);
                    }
                })
                .render(this.$refs.paypal);
        }
    }
}
</script>