<template>
    <div></div>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
// Component for plan subscription validation
export default {
    mounted(){
        this.isSubscribed();
    },
    computed: {
    ...mapGetters(["user","getTicketId"])
  },
    methods: {
        // @vuese
        ...mapMutations(["setTicketId"]),
        isSubscribed() {
            // Fire on mount, get user data subscription details
            this.loading = true;
            this.$http.get("plans/is_subscribed/" + this.user.id).then(
                response => {
                    this.setTicketId(null);
                },
                error => {
                    if(error.body.ticket_id && error.body.ticket_id !== null && error.body.ticket_id !== 'null'){
                        this.setTicketId(error.body.ticket_id);
                        this.$router.push('/packages');
                    }
                }
            );
        },
    }
}
</script>