<template>
  <div :class="['navigation', { fixed: isFixed }]">
    <div class="wrap">
      <div class="row">
        <div class="col-sm-8">
          <slot />
        </div>
        <div class="col-sm-4 buttons">
          <button
            type="button"
            class="btn btn-outline-danger"
            @click="handleCancle"
          >
            {{ $t(cancelText) }}
          </button>
          <button
            type="button"
            :class="['btn', nextButtonClass]"
            @click="handleNext"
            :disabled="disabledNext"
          >
            {{ $t(nextText) }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// Component for card game navigation
export default {
  props: {
    disabledNext: {
      // `'true'` / `'false'`
      type: Boolean,
      // The default value is: `true`
      default: true
    },
    isFixed: {
      // `'true'` / `'false'`
      type: Boolean,
      // The default value is: `true`
      default: true
    },
    nextText: {
      type: String,
      // The default value is: `Next`
      default: "Next"
    },
    cancelText: {
      type: String,
      // The default value is: `Cancel`
      default: "Cancel"
    }
  },
  computed: {
    nextButtonClass() {
      if (this.disabledNext) {
        return "btn-secondary";
      } else {
        return "btn-primary";
      }
    }
  },
  methods: {
    // @vuese
    handleCancle() {
      // Fire when user click on cancel button
      this.$emit("cancel");
    },
    handleNext() {
      // Fire when user click on next button
      this.$emit("next");
    }
  }
};
</script>

<style lang="scss" scope>
.navigation {
  width: 100%;
  height: 80px;
  padding: 19px 0;
  box-sizing: border-box;
  background-color: #fff;
  @include media-breakpoint-down(lg) {
    padding: 15px;
  }
  &.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0px -6px 6px #00000029;
    z-index: 1;
  }

  .wrap {
    max-width: 1400px;
    margin: 0 auto;
  }

  .buttons {
    text-align: right;

    > button {
      width: 126px;
      margin: 0 7px;
    }
  }
}
</style>
