<template>
  <div>
    <transition name="fade">
      <div class="card-modal" v-if="showModal">
        <div
          :class="[
            'card-modal-container',
            { 'full-height': fullHeight },
            { founder: founder }
          ]"
        >
          <a class="close" @click="handleClose"></a>
          <div class="content">
            <slot />
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
// Component for game card popup
export default {
  props: {
    showModal: {
      // `'true'` / `'false'`
      type: Boolean,
      // The default value is: `false`
      default: false
    },
    fullHeight: {
      // `'true'` / `'false'`
      type: Boolean,
      // The default value is: `false`
      default: false
    },
    founder: {
      // `'true'` / `'false'`
      type: Boolean,
      // The default value is: `false`
      default: false
    }
  },
  methods: {
    // @vuese
    handleClose() {
      // Fire when user click on close button
      this.$emit("close");
    }
  }
};
</script>

<style lang="scss" scope>
.card-modal {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000a1;
  z-index: 999999;
  overflow-y: scroll;

  .card-modal-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-height: 90%;
    min-height: 100px;
    background: #fff;
    box-shadow: 0px -6px 6px #00000029;

    &.full-height {
      top: 0;
      height: 100%;
      max-height: 100%;
    }

    .close {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 30px;
      height: 30px;
    }
  }
  .founder {
    top: 0;
    bottom: 0;
    margin: auto;
    height: 600px;
    width: 1200px;
    overflow: hidden;
  }
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  transition: opacity 1s;
}
.fade-leave {
  opacity: 1;
}
.fade-leave-active {
  transition: opacity 1s;
  opacity: 0;
}
</style>
