<!-- 2018-03-02 23:59:00 -->
<!-- "Y-m-d H:i:s" -->

<template id="countdown-template">
  <div class="countdown">
    <!-- <div class="block">
      <p class="digit">{{ days | two_digits }}</p>
      <p class="text">Days</p>
    </div>
    <div class="block">
      <p class="digit">{{ hours | two_digits }}</p>
      <p class="text">Hours</p>
    </div> -->
    <div class="block">
      <p class="digit">{{ minutes | two_digits }} :</p>
      <!-- <p class="text">Minutes</p> -->
    </div>
    <div class="block">
      <p class="digit">{{ seconds | two_digits }}</p>
      <!-- <p class="text">Seconds</p> -->
    </div>
  </div>
</template>

<script>
// Component for verification timer
export default {
  mounted() {
    window.setInterval(() => {
      this.now = Math.trunc(new Date().getTime() / 1000);

      if(Number(this.minutes) <= 0 && Number(this.seconds) <= 0){
        this.$emit('onEnd');
      }
    }, 1000);
  },
  props: {
    date: {
      type: String
    }
  },
  data() {
    return {
      now: Math.trunc(new Date().getTime() / 1000)
    };
  },
  computed: {
    dateInMilliseconds() {
      return Math.trunc(Date.parse(this.date) / 1000);
    },
    seconds() {
      return (this.dateInMilliseconds - this.now) % 60;
    },
    minutes() {
      return Math.trunc((this.dateInMilliseconds - this.now) / 60) % 60;
    },
    hours() {
      return Math.trunc((this.dateInMilliseconds - this.now) / 60 / 60) % 24;
    },
    days() {
      return Math.trunc((this.dateInMilliseconds - this.now) / 60 / 60 / 24);
    },
  }
};
</script>

<style lang="scss" scope>
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400|Roboto:100);
#app {
  align-items: center;
  bottom: 0;
  background-color: #34495e;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.countdown {
  display: flex;
}

.block {
  display: flex;
  flex-direction: column;
  // margin: 20px;
}

.text {
  color: #1abc9c;
  font-size: 25px;
  font-family: "Roboto Condensed", serif;
  font-weight: 40;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.digit {
  color: #45b171;
  font-size: 22px;
  font-weight: bold;
  font-family: "Roboto", serif;
  margin: 5px;
  text-align: center;
}
</style>
