<template>
    <div></div>
</template>

<script>
import { Helpers } from '@/utils/helpers.ts';
// Component for user log validation in route
export default {
    mounted(){
        if(!Helpers.isUserLogged()){
            this.$router.push('/');
        }
    }
}
</script>