<template>
  <div class="checkout def">
    <Loader :loading="loading" />
    <div class="d-flex justify-content-center base_margin">
      <h3 class="mb1">{{ $t("Checkout") }}</h3>
      <div class="plan">
        <div class="plan_bg mb1">
          <h4 class="mb1">Personal Plan</h4>
          <h5>
            {{ plans.hkd }}HKD <span>{{ plans.id }} year</span>
          </h5>
          <p class="changep">
            <router-link to="/packages" class="color_blue"
              >Change Plan</router-link
            >
          </p>
        </div>
        <p class="mb2 color_blue">
          {{ plans.hkd }}HKD billed for {{ plans.id }} Years (only HKD/month)
        </p>
        <p>
          <router-link to="/terms-and-condition" class="color_blue"
            >Terms and condition apply</router-link
          >
        </p>
        <PaypalButton :plans="plans" />
        <!--<p>
          <a class="btn btn-warning d-block" @click="handleChoose()"
            >Paypal Button</a
          >
        </p>-->
      </div>
    </div>
    
    <router-link
      class="hidden"
      to="/payment-success"
      >.</router-link
    >
  </div>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
import Loader from "@/components/loader";
import PaypalButton from '@/components/paypal-button';

export default {
  components: {
    Loader,
    PaypalButton,
  },
  data() {
    return {
      plans: "",
      planID: "",
      loading: true
    };
  },
  mounted() {
    this.getPackages();
    this.planID = this.getPlanId;
  },
  computed: {
    ...mapGetters(["getPlanId"])
  },
  methods: {
    getPackages() {
      this.loading = true;
      this.$http.get("plans").then(
        response => {
          const planItem = response.body.data.find(
            plan => plan.plan_id === this.planID
          );
          this.plans = planItem;
          console.log(this.plans);
          this.loading = false;
        },
        error => {
          this.loading = false;
          this.errorMsg = error.body.message;
        }
      );
    },
    handleChoose() {
      // this.setPlanId(planId);
      this.$router.push("/payment-success");
    }
  }
};
</script>

<style lang="scss" scope>
.checkout {
  .base_margin {
    width: 450px;
    align-items: unset;
    margin: auto;
  }

  .plan {
    .plan_bg {
      padding: 1em;
      background: #f9f9f9;
      position: relative;
      h5 {
        span {
          font-weight: normal;
          font-size: 0.75em;
        }
      }
      .changep {
        position: absolute;
        right: 22px;
        bottom: 22px;
        font-weight: 600;
        margin: 0;
      }
    }
  }
}
</style>
