<template>
  <div>
    <Navigation v-if="!$route.meta.hideNavigation"></Navigation>
    <UserLoggedValidation v-if="$route.meta.requiredLogged" />
    <PlanSubscriptionValidation v-if="$route.meta.requiredSubscription" />
    <router-view></router-view>
    <Footer
      v-if="!$route.meta.hideNavigation || $route.meta.showFooter"
    ></Footer>
  </div>
</template>

<script>
import Navigation from "./components/header/";
import Footer from "./components/footer";
import UserLoggedValidation from "@/components/user-logged-validation";
import PlanSubscriptionValidation from '@/components/plan-subscrition-validation';

export default {
  components: {
    Navigation,
    Footer,
    UserLoggedValidation,
    PlanSubscriptionValidation,
  }
};
</script>

<style lang="scss">
@import "./styles/custom.scss";
</style>
